<br>
<br>

<br>
<div class="panel panel-default">
	<div class="panel-heading">
		<div> 
		<h3 style="text-align:left;">Jenny's Barcelona Flight Details
		<span style="float:right;"><%= link_to "Back", root_path%> </span></h3>
	</div>
</div>
	<div class="panel-body">
		<div align="center">
<div style="color:rgb(77,79,83)">
    <table style="margin:0px;padding:0px;border:2px solid rgb(232,232,232);width:600px" cellspacing="0" cellpadding="0" align="center">
      <tbody><tr>
        <td style="background:rgb(255,255,255)">
          
          <table style="width:100%;max-height:55px" cellspacing="0" cellpadding="0" align="center">
            <tbody><tr>
              <td>
                <img style="vertical-align:middle" src="https://ci3.googleusercontent.com/proxy/IKlPqTdlMVRPYlwP4BmSrc5RYnSNXBUjWKwt-I5vTxnrnQzUVR8ugVRFLeuN1-0t3E-JLMGxN4C047G-2IkqueI4zts2gGKpepe-sDrudUVYuclYm-vx0s4=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/amex-travel-logo-1.png" width="100%" height="50">
              </td>
            </tr>
          </tbody></table>
          
          <table style="margin:0px;padding:0px;width:100%;text-align:center;font-family:Arial;border-collapse:collapse" cellspacing="0" cellpadding="0" align="center">
            <tbody><tr style="background:rgb(247,247,247)">
              <td style="margin:0px;padding:5px 0px;width:120px;border-right-color:rgb(232,232,232);border-right-width:1px;border-right-style:solid">
                <a style="width:100%;color:rgb(43,43,43);font-size:13px;font-weight:bold;text-decoration:none;display:block;min-height:100%" href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?http://travel.americanexpress.com/flight" target="_blank">FLIGHTS</a>
              </td>
              <td style="margin:0px;padding:5px 0px;width:120px;border-right-color:rgb(232,232,232);border-right-width:1px;border-right-style:solid">
                <a style="width:100%;color:rgb(43,43,43);font-size:13px;font-weight:bold;text-decoration:none;display:block;min-height:100%" href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?http://travel.americanexpress.com/hotel" target="_blank">HOTELS</a>
              </td>
              <td style="margin:0px;padding:5px 0px;width:120px;border-right-color:rgb(232,232,232);border-right-width:1px;border-right-style:solid">
                <a style="width:100%;color:rgb(43,43,43);font-size:13px;font-weight:bold;text-decoration:none;display:block;min-height:100%" href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?http://travel.americanexpress.com/vacation" target="_blank">VACATIONS</a>
              </td>
              <td style="margin:0px;padding:5px 0px;width:120px;border-right-color:rgb(232,232,232);border-right-width:1px;border-right-style:solid">
                <a style="width:100%;color:rgb(43,43,43);font-size:13px;font-weight:bold;text-decoration:none;display:block;min-height:100%" href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?http://travel.americanexpress.com/car" target="_blank">CARS</a>
              </td>
              <td style="margin:0px;padding:5px 0px;width:120px;border-right-color:rgb(232,232,232);border-right-width:1px;border-right-style:solid">
                <a style="width:100%;color:rgb(43,43,43);font-size:13px;font-weight:bold;text-decoration:none;display:block;min-height:100%" href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?http://travel.americanexpress.com/cruise" target="_blank">CRUISES</a>
              </td>
            </tr>
          </tbody></table>
          
          <table style="background:rgb(255,255,255);margin:0px;padding:0px;width:100%;display:block" cellspacing="0" cellpadding="0">
            <tbody><tr style="margin:0px;padding:30px 20px;display:block">
              <td style="vertical-align:top">
                <table style="background:rgb(255,255,255);margin:0px;display:block" cellspacing="0" cellpadding="0">
                  <tbody><tr style="margin:0px;padding:0px 0px 20px;color:rgb(43,43,43);font-size:12px;vertical-align:top;display:block">
                    <td>
                      <h1 style="margin:0px;padding:0px 0px 10px;color:rgb(255,0,0);line-height:100%;font-family:Arial;font-size:14px;display:block">Flight Itinerary Change</h1>
                      <h1 style="margin:5px 0px 0px;padding:0px;color:rgb(119,33,111);line-height:100%;font-family:Arial,BentonSans,sans-serif;font-size:18px;display:block">
                        Trip ID (8 digits): 1441-7550
                      </h1>
                    </td>
                  </tr>
                  <tr style="margin:0px;padding:0px 0px 20px;font-size:12px;vertical-align:top;display:block">
                    <td style="color:rgb(43,43,43);font-family:arial,sans-serif">
                      You can view, manage, or cancel your trip by logging onto
                      <a style="color:rgb(43,43,43);font-size:12px" href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?http://travel.americanexpress.com/home" target="_blank">American Express Travel.</a>
                    </td>
                  </tr>
                  <tr style="margin:0px;padding:0px 0px 10px;color:rgb(43,43,43);font-family:arial,sans-serif;font-size:12px;vertical-align:top;display:block">
                    <td style="color:rgb(43,43,43)">Any Questions? Please call</td>
                  </tr>
                  <tr style="margin:0px;padding:0px 0px 10px;font-family:arial,sans-serif;font-size:12px;vertical-align:top;display:block">
                    <td style="color:rgb(43,43,43)">
                      - Toll free within the United States
                      <span style="font-weight:bold"><a href="tel:1-800-297-2977" value="+18002972977" target="_blank">1-800-297-2977</a></span>
                    </td>
                  </tr>
                  <tr style="margin:0px;padding:0px;color:rgb(43,43,43);font-family:arial,sans-serif;font-size:12px;vertical-align:top;display:block">
                    <td>
                      - If you are currently traveling outside the United States
                      <span style="font-weight:bold"><a href="tel:1-312-980-7807" value="+13129807807" target="_blank">1-312-980-7807</a></span>
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>
          
          
<table style="background:rgb(255,255,255);margin:0px;padding:0px;width:600px;font-family:Arial;display:block" cellspacing="0" cellpadding="0" align = "center">
  <tbody><tr style="margin:0px;width:600px;padding-bottom:20px;vertical-align:top;display:block">
    <td colspan="2">
      <img src="https://ci4.googleusercontent.com/proxy/oLHkxv8ALkCyjGzh375QcwrkGHhSkGEr9XrvWxbc10nk8lA1fjJLXHeg_UWhrAYwOJ5X1nKO4xuIzzI5pdzcMA4-ocpamlfK3nQlgyDDr8ffN_fJb1RR5dB9=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/your-flight-details.png">
    </td>
  </tr>
  <tr style="margin:0px;padding:0px 20px;vertical-align:top;display:block">
    <td colspan="2">
      <span style="color:rgb(255,0,0);font-size:14px">
        Your itinerary has changed. Please review your updated flight details.
      </span>
    </td>
  </tr>
  <tr style="margin:0px;padding:0px 20px;vertical-align:top;display:block">
    <td>
      <table style="margin:0px;padding:0px" cellspacing="0" cellpadding="0">
        <tbody><tr style="padding:15px 0px;display:block">
          <td style="width:40px;height:auto;text-align:left;color:rgb(43,43,43);line-height:12px;padding-right:15px;font-family:arial;font-size:10px;vertical-align:top">
            <img style="padding-bottom:4px;max-width:80px" src="https://ci3.googleusercontent.com/proxy/0eHQTOz-K-Hi6sAuG8iiM5GsdDw5L7_3g6hNoLRbP2dxKxT_Sv7FWVE9CCwJEaj5lxdmk6SIfcNNPPzagoZZXtImNxVyxFAQBaBreTzaAFnX6tdQn8Hcozvw=s0-d-e1-ft#https://www.tnetnoc.com/siteImages/GLOBAL/logos/air/airline/SN-1.gif">
            <span style="font-size:10px">
              Brussels Airlines
            </span>
            <span style="font-size:12px">
              8888
            </span>
            <span style="font-size:10px">Operated by</span>
            <span style="font-size:12px">
              UNITED AIRLINES
            </span>
          </td>
          <td style="width:560px;height:auto;text-align:left;font-family:arial;vertical-align:top">
            <table style="height:auto;text-align:left;color:rgb(43,43,43);font-family:arial" cellspacing="0" cellpadding="0">
              <tbody><tr style="margin:0px;padding:0px;width:460px;display:block">
                <td>
                  <h1 style="margin:0px;padding:0px;text-transform:uppercase;font-family:Arial;font-size:13px;font-weight:bold;display:inline">
                    Departure Flight
                    <img style="padding:0px 5px 4px 15px;display:inline" align="absmiddle" src="https://ci4.googleusercontent.com/proxy/Kz3E7qI_BgMfdxYEXl9KyUM1bietp2CywjvEqiovOCZfPKld54ZsaT7MjdXvDsq7fxK8IgAsHSbUID2gPInaTgyu9-xjgvWVl1kvuQ=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/clock.png">
                    <span>
                      14h 31m
                    </span>
                  </h1>
                </td>
              </tr>
              <tr style="padding:10px 0px;width:460px;font-size:12px;display:block">
                <td style="width:250px;padding-bottom:5px;font-size:13px">
                  <span class="aBn" data-term="goog_2008280540" tabindex="0"><span class="aQJ">Sat, Jun 21, 2014</span></span>
                </td>
                <td style="width:210px;padding-bottom:5px;font-size:13px">
                  2 Stops
                   |
                  Economy
                </td>
              </tr>
              <tr style="background:url(&quot;https://ci5.googleusercontent.com/proxy/XwqsefNIXUEcCJ8MyLvj4chYM4RbUyY4aVdh6gFpR4rAghn3NHOqsC4YYs2GcXBd_D8WanMz7ZACXLIaL8_CHA8us1_bIGU2CSW3FpmU5kyO2ulWcEWS=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-departure.png&quot;);width:460px;height:35px;display:block">
                <td style="background:url(&quot;https://ci5.googleusercontent.com/proxy/XwqsefNIXUEcCJ8MyLvj4chYM4RbUyY4aVdh6gFpR4rAghn3NHOqsC4YYs2GcXBd_D8WanMz7ZACXLIaL8_CHA8us1_bIGU2CSW3FpmU5kyO2ulWcEWS=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-departure.png&quot;);padding:10px 0px 0px 12px;width:250px;font-size:13px">
                  <span style="font-size:13px;font-weight:bold;display:inline">
                    <span class="aBn" data-term="goog_2008280541" tabindex="0"><span class="aQJ">7:50am</span></span>
                  </span>
                  <span style="width:200px;display:inline">
                    San Francisco, CA (SFO)
                  </span>
                </td>
                <td style="background:url(&quot;https://ci3.googleusercontent.com/proxy/uAyxmPnFeYpREJ9oTBLUb2jZwV2Bjws6VC71nr7Li6Okiy8ikwmTYIssE5DgymsQYHCpy9Pgq5OvX-PYr-lvXDjwNPlJA_aBiWn4G48a9TqBscRsWA=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-arrival.png&quot;);padding:10px 0px 0px 8px;width:210px;font-size:13px">
                  <span style="font-size:13px;font-weight:bold">
                    <span class="aBn" data-term="goog_2008280542" tabindex="0"><span class="aQJ">3:46pm</span></span>
                  </span>
                  <span style="width:200px">
                    Washington DC, DC (IAD)
                  </span>
                </td>
              </tr>
              <tr style="width:460px;font-size:12px;font-weight:bold;display:block">
                <td style="padding-top:10px">
                  <span>Your Seats:</span>
                  <span style="color:rgb(237,89,41)">
                    
                  </span>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
      <table style="margin:0px;padding:0px" cellspacing="0" cellpadding="0">
        <tbody><tr style="padding:15px 0px;display:block">
          <td style="width:40px;height:auto;text-align:left;color:rgb(43,43,43);line-height:12px;padding-right:15px;font-family:arial;font-size:10px;vertical-align:top">
            <img style="padding-bottom:4px;max-width:80px" src="https://ci3.googleusercontent.com/proxy/0eHQTOz-K-Hi6sAuG8iiM5GsdDw5L7_3g6hNoLRbP2dxKxT_Sv7FWVE9CCwJEaj5lxdmk6SIfcNNPPzagoZZXtImNxVyxFAQBaBreTzaAFnX6tdQn8Hcozvw=s0-d-e1-ft#https://www.tnetnoc.com/siteImages/GLOBAL/logos/air/airline/SN-1.gif">
            <span style="font-size:10px">
              Brussels Airlines
            </span>
            <span style="font-size:12px">
              0516
            </span>
            <span style="font-size:10px">Operated by</span>
            <span style="font-size:12px">
              Brussels Airlines
            </span>
          </td>
          <td style="width:560px;height:auto;text-align:left;font-family:arial;vertical-align:top">
            <table style="height:auto;text-align:left;color:rgb(43,43,43);font-family:arial" cellspacing="0" cellpadding="0">
              <tbody><tr style="padding:10px 0px;width:460px;font-size:12px;display:block">
                <td style="width:250px;padding-bottom:5px;font-size:13px">
                  <span class="aBn" data-term="goog_2008280543" tabindex="0"><span class="aQJ">Sat, Jun 21, 2014</span></span>
                </td>
                <td style="width:210px;padding-bottom:5px;font-size:13px">
                  Economy
                   |
                  +1 Day
                </td>
              </tr>
              <tr style="background:url(&quot;https://ci5.googleusercontent.com/proxy/XwqsefNIXUEcCJ8MyLvj4chYM4RbUyY4aVdh6gFpR4rAghn3NHOqsC4YYs2GcXBd_D8WanMz7ZACXLIaL8_CHA8us1_bIGU2CSW3FpmU5kyO2ulWcEWS=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-departure.png&quot;);width:460px;height:35px;display:block">
                <td style="background:url(&quot;https://ci5.googleusercontent.com/proxy/XwqsefNIXUEcCJ8MyLvj4chYM4RbUyY4aVdh6gFpR4rAghn3NHOqsC4YYs2GcXBd_D8WanMz7ZACXLIaL8_CHA8us1_bIGU2CSW3FpmU5kyO2ulWcEWS=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-departure.png&quot;);padding:10px 0px 0px 12px;width:250px;font-size:13px">
                  <span style="font-size:13px;font-weight:bold;display:inline">
                    <span class="aBn" data-term="goog_2008280544" tabindex="0"><span class="aQJ">10:25pm</span></span>
                  </span>
                  <span style="width:200px;display:inline">
                    Washington DC, DC (IAD)
                  </span>
                </td>
                <td style="background:url(&quot;https://ci3.googleusercontent.com/proxy/uAyxmPnFeYpREJ9oTBLUb2jZwV2Bjws6VC71nr7Li6Okiy8ikwmTYIssE5DgymsQYHCpy9Pgq5OvX-PYr-lvXDjwNPlJA_aBiWn4G48a9TqBscRsWA=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-arrival.png&quot;);padding:10px 0px 0px 8px;width:210px;font-size:13px">
                  <span style="font-size:13px;font-weight:bold">
                    <span class="aBn" data-term="goog_2008280545" tabindex="0"><span class="aQJ">12:00pm</span></span>
                  </span>
                  <span style="width:200px">
                    Brussels,  (BRU)
                  </span>
                </td>
              </tr>
              <tr style="width:460px;font-size:12px;font-weight:bold;display:block">
                <td style="padding-top:10px">
                  <span>Your Seats:</span>
                  <span style="color:rgb(237,89,41)">
                    
                  </span>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
      <table style="margin:0px;padding:0px" cellspacing="0" cellpadding="0">
        <tbody><tr style="padding:15px 0px;border-bottom-color:rgb(233,232,232);border-bottom-width:1px;border-bottom-style:solid;display:block">
          <td style="width:40px;height:auto;text-align:left;color:rgb(43,43,43);line-height:12px;padding-right:15px;font-family:arial;font-size:10px;vertical-align:top">
            <img style="padding-bottom:4px;max-width:80px" src="https://ci3.googleusercontent.com/proxy/0eHQTOz-K-Hi6sAuG8iiM5GsdDw5L7_3g6hNoLRbP2dxKxT_Sv7FWVE9CCwJEaj5lxdmk6SIfcNNPPzagoZZXtImNxVyxFAQBaBreTzaAFnX6tdQn8Hcozvw=s0-d-e1-ft#https://www.tnetnoc.com/siteImages/GLOBAL/logos/air/airline/SN-1.gif">
            <span style="font-size:10px">
              Brussels Airlines
            </span>
            <span style="font-size:12px">
              3703
            </span>
            <span style="font-size:10px">Operated by</span>
            <span style="font-size:12px">
              Brussels Airlines
            </span>
          </td>
          <td style="width:560px;height:auto;text-align:left;font-family:arial;vertical-align:top">
            <table style="height:auto;text-align:left;color:rgb(43,43,43);font-family:arial" cellspacing="0" cellpadding="0">
              <tbody><tr style="padding:10px 0px;width:460px;font-size:12px;display:block">
                <td style="width:250px;padding-bottom:5px;font-size:13px">
                  <span class="aBn" data-term="goog_2008280546" tabindex="0"><span class="aQJ">Sun, Jun 22, 2014</span></span>
                </td>
                <td style="width:210px;padding-bottom:5px;font-size:13px">
                  Economy
                </td>
              </tr>
              <tr style="background:url(&quot;https://ci5.googleusercontent.com/proxy/XwqsefNIXUEcCJ8MyLvj4chYM4RbUyY4aVdh6gFpR4rAghn3NHOqsC4YYs2GcXBd_D8WanMz7ZACXLIaL8_CHA8us1_bIGU2CSW3FpmU5kyO2ulWcEWS=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-departure.png&quot;);width:460px;height:35px;display:block">
                <td style="background:url(&quot;https://ci5.googleusercontent.com/proxy/XwqsefNIXUEcCJ8MyLvj4chYM4RbUyY4aVdh6gFpR4rAghn3NHOqsC4YYs2GcXBd_D8WanMz7ZACXLIaL8_CHA8us1_bIGU2CSW3FpmU5kyO2ulWcEWS=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-departure.png&quot;);padding:10px 0px 0px 12px;width:250px;font-size:13px">
                  <span style="font-size:13px;font-weight:bold;display:inline">
                    <span class="aBn" data-term="goog_2008280547" tabindex="0"><span class="aQJ">1:10pm</span></span>
                  </span>
                  <span style="width:200px;display:inline">
                    Brussels,  (BRU)
                  </span>
                </td>
                <td style="background:url(&quot;https://ci3.googleusercontent.com/proxy/uAyxmPnFeYpREJ9oTBLUb2jZwV2Bjws6VC71nr7Li6Okiy8ikwmTYIssE5DgymsQYHCpy9Pgq5OvX-PYr-lvXDjwNPlJA_aBiWn4G48a9TqBscRsWA=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-arrival.png&quot;);padding:10px 0px 0px 8px;width:210px;font-size:13px">
                  <span style="font-size:13px;font-weight:bold">
                    <span class="aBn" data-term="goog_2008280548" tabindex="0"><span class="aQJ">3:10pm</span></span>
                  </span>
                  <span style="width:200px">
                    <span class="il">Barcelona</span>,  (BCN)
                  </span>
                </td>
              </tr>
              <tr style="width:460px;font-size:12px;font-weight:bold;display:block">
                <td style="padding-top:10px">
                  <span>Your Seats:</span>
                  <span style="color:rgb(237,89,41)">
                    
                  </span>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <tr style="margin:0px;padding:0px 20px;vertical-align:top;display:block">
    <td>
      <table style="margin:0px;padding:0px" cellspacing="0" cellpadding="0">
        <tbody><tr style="padding:15px 0px;display:block">
          <td style="width:40px;height:auto;text-align:left;color:rgb(43,43,43);line-height:12px;padding-right:15px;font-family:arial;font-size:10px;vertical-align:top">
            <img style="padding-bottom:4px;max-width:80px" src="https://ci6.googleusercontent.com/proxy/207-s2x0NzaLfNwapKvNOOmZGXZ9kvsgq2GtoJnyGBT03ZVbt3BdYnZ1q-V3_DM6gnl0gnHGmpXLK7CJqCCkcKyXhLXLDbBOTHavsu4_GeAAelaJAicc-rwT=s0-d-e1-ft#https://www.tnetnoc.com/siteImages/GLOBAL/logos/air/airline/AC-1.gif">
            <span style="font-size:10px">
              Air Canada
            </span>
            <span style="font-size:12px">
              1915
            </span>
            <span style="font-size:10px">Operated by</span>
            <span style="font-size:12px">
              AIR CANADA ROUGE
            </span>
          </td>
          <td style="width:560px;height:auto;text-align:left;font-family:arial;vertical-align:top">
            <table style="height:auto;text-align:left;color:rgb(43,43,43);font-family:arial" cellspacing="0" cellpadding="0">
              <tbody><tr style="margin:0px;padding:0px;width:460px;display:block">
                <td>
                  <h1 style="margin:0px;padding:0px;text-transform:uppercase;font-family:Arial;font-size:13px;font-weight:bold;display:inline">
                    Return Flight
                    <img style="padding:0px 5px 4px 15px;display:inline" align="absmiddle" src="https://ci4.googleusercontent.com/proxy/Kz3E7qI_BgMfdxYEXl9KyUM1bietp2CywjvEqiovOCZfPKld54ZsaT7MjdXvDsq7fxK8IgAsHSbUID2gPInaTgyu9-xjgvWVl1kvuQ=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/clock.png">
                    <span>
                      14h 24m
                    </span>
                  </h1>
                </td>
              </tr>
              <tr style="padding:10px 0px;width:460px;font-size:12px;display:block">
                <td style="width:250px;padding-bottom:5px;font-size:13px">
                  <span class="aBn" data-term="goog_2008280549" tabindex="0"><span class="aQJ">Sun, Jul 6, 2014</span></span>
                </td>
                <td style="width:210px;padding-bottom:5px;font-size:13px">
                  1 Stop
                   |
                  Economy
                </td>
              </tr>
              <tr style="background:url(&quot;https://ci5.googleusercontent.com/proxy/XwqsefNIXUEcCJ8MyLvj4chYM4RbUyY4aVdh6gFpR4rAghn3NHOqsC4YYs2GcXBd_D8WanMz7ZACXLIaL8_CHA8us1_bIGU2CSW3FpmU5kyO2ulWcEWS=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-departure.png&quot;);width:460px;height:35px;display:block">
                <td style="background:url(&quot;https://ci5.googleusercontent.com/proxy/XwqsefNIXUEcCJ8MyLvj4chYM4RbUyY4aVdh6gFpR4rAghn3NHOqsC4YYs2GcXBd_D8WanMz7ZACXLIaL8_CHA8us1_bIGU2CSW3FpmU5kyO2ulWcEWS=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-departure.png&quot;);padding:10px 0px 0px 12px;width:250px;font-size:13px">
                  <span style="font-size:13px;font-weight:bold;display:inline">
                    <span class="aBn" data-term="goog_2008280550" tabindex="0"><span class="aQJ">1:10pm</span></span>
                  </span>
                  <span style="width:200px;display:inline">
                    <span class="il">Barcelona</span>,  (BCN)
                  </span>
                </td>
                <td style="background:url(&quot;https://ci3.googleusercontent.com/proxy/uAyxmPnFeYpREJ9oTBLUb2jZwV2Bjws6VC71nr7Li6Okiy8ikwmTYIssE5DgymsQYHCpy9Pgq5OvX-PYr-lvXDjwNPlJA_aBiWn4G48a9TqBscRsWA=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-arrival.png&quot;);padding:10px 0px 0px 8px;width:210px;font-size:13px">
                  <span style="font-size:13px;font-weight:bold">
                    <span class="aBn" data-term="goog_2008280551" tabindex="0"><span class="aQJ">4:00pm</span></span>
                  </span>
                  <span style="width:200px">
                    Toronto, ON (YYZ)
                  </span>
                </td>
              </tr>
              <tr style="width:460px;font-size:12px;font-weight:bold;display:block">
                <td style="padding-top:10px">
                  <span>Your Seats:</span>
                  <span style="color:rgb(237,89,41)">
                    
                  </span>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
      <table style="margin:0px;padding:0px" cellspacing="0" cellpadding="0">
        <tbody><tr style="padding:15px 0px;border-bottom-color:rgb(233,232,232);border-bottom-width:1px;border-bottom-style:solid;display:block">
          <td style="width:40px;height:auto;text-align:left;color:rgb(43,43,43);line-height:12px;padding-right:15px;font-family:arial;font-size:10px;vertical-align:top">
            <img style="padding-bottom:4px;max-width:80px" src="https://ci6.googleusercontent.com/proxy/207-s2x0NzaLfNwapKvNOOmZGXZ9kvsgq2GtoJnyGBT03ZVbt3BdYnZ1q-V3_DM6gnl0gnHGmpXLK7CJqCCkcKyXhLXLDbBOTHavsu4_GeAAelaJAicc-rwT=s0-d-e1-ft#https://www.tnetnoc.com/siteImages/GLOBAL/logos/air/airline/AC-1.gif">
            <span style="font-size:10px">
              Air Canada
            </span>
            <span style="font-size:12px">
              0759
            </span>
            <span style="font-size:10px">Operated by</span>
            <span style="font-size:12px">
              Air Canada
            </span>
          </td>
          <td style="width:560px;height:auto;text-align:left;font-family:arial;vertical-align:top">
            <table style="height:auto;text-align:left;color:rgb(43,43,43);font-family:arial" cellspacing="0" cellpadding="0">
              <tbody><tr style="padding:10px 0px;width:460px;font-size:12px;display:block">
                <td style="width:250px;padding-bottom:5px;font-size:13px">
                  <span class="aBn" data-term="goog_2008280552" tabindex="0"><span class="aQJ">Sun, Jul 6, 2014</span></span>
                </td>
                <td style="width:210px;padding-bottom:5px;font-size:13px">
                  Economy
                </td>
              </tr>
              <tr style="background:url(&quot;https://ci5.googleusercontent.com/proxy/XwqsefNIXUEcCJ8MyLvj4chYM4RbUyY4aVdh6gFpR4rAghn3NHOqsC4YYs2GcXBd_D8WanMz7ZACXLIaL8_CHA8us1_bIGU2CSW3FpmU5kyO2ulWcEWS=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-departure.png&quot;);width:460px;height:35px;display:block">
                <td style="background:url(&quot;https://ci5.googleusercontent.com/proxy/XwqsefNIXUEcCJ8MyLvj4chYM4RbUyY4aVdh6gFpR4rAghn3NHOqsC4YYs2GcXBd_D8WanMz7ZACXLIaL8_CHA8us1_bIGU2CSW3FpmU5kyO2ulWcEWS=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-departure.png&quot;);padding:10px 0px 0px 12px;width:250px;font-size:13px">
                  <span style="font-size:13px;font-weight:bold;display:inline">
                    <span class="aBn" data-term="goog_2008280553" tabindex="0"><span class="aQJ">8:15pm</span></span>
                  </span>
                  <span style="width:200px;display:inline">
                    Toronto, ON (YYZ)
                  </span>
                </td>
                <td style="background:url(&quot;https://ci3.googleusercontent.com/proxy/uAyxmPnFeYpREJ9oTBLUb2jZwV2Bjws6VC71nr7Li6Okiy8ikwmTYIssE5DgymsQYHCpy9Pgq5OvX-PYr-lvXDjwNPlJA_aBiWn4G48a9TqBscRsWA=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/bg-btn-arrival.png&quot;);padding:10px 0px 0px 8px;width:210px;font-size:13px">
                  <span style="font-size:13px;font-weight:bold">
                    <span class="aBn" data-term="goog_2008280554" tabindex="0"><span class="aQJ">10:49pm</span></span>
                  </span>
                  <span style="width:200px">
                    San Francisco, CA (SFO)
                  </span>
                </td>
              </tr>
              <tr style="width:460px;font-size:12px;font-weight:bold;display:block">
                <td style="padding-top:10px">
                  <span>Your Seats:</span>
                  <span style="color:rgb(237,89,41)">
                    
                  </span>
                </td>
              </tr>
              <tr style="font-size:11px;display:inline">
                <td style="padding:10px 0px 0px;font-size:12px">
                  <span style="color:rgb(77,79,83);font-size:12px">
                    Additional airline
                    <a style="color:rgb(77,79,83);font-weight:bold" href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?https://www.amextravel.com//baggage_fees?code=SN" target="_blank">baggage fees</a>
                    may apply. Prices include
                    <a style="color:rgb(77,79,83);font-weight:bold;text-decoration:underline">Taxes &amp; Airline/American Express Imposed Fees</a>
                  </span>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>
          
          <table style="background:rgb(255,255,255);margin:0px;padding:0px;width:600px;font-family:Arial;display:block" cellspacing="0" cellpadding="0">
            <tbody><tr style="margin:0px;padding:20px 0px;width:600px;vertical-align:top;display:block">
              <td colspan="2">
                <img src="https://ci3.googleusercontent.com/proxy/9Zi830uFbcs9f2PzBbfhLue9x4OLdMomDxMA-34ryvld8Mp80l9PGQ1DKpjaBGWTFuCRdY5rBtl9QSjuyQ6zW-QNrFen4XAqrGNPyfO59U4ea6xW9OfMBWVtTW8RU_U=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/cost-billing-information.png">
              </td>
            </tr>
            <tr style="margin:0px;padding:0px 20px;vertical-align:top;display:block">
              <td>
                <table style="margin:0px;padding:0px;color:white;font-family:Arial;display:block;background-color:rgb(255,255,255)" cellspacing="0" cellpadding="0">
                  <tbody><tr style="margin:0px;padding:0px;width:250px;vertical-align:top;display:block">
                    <td colspan="2">
                      <h1 style="margin:6px 0px 11px;padding:0px 0px 10px;width:250px;color:rgb(77,79,83);font-size:15px;font-weight:bold">
                        RECORD LOCATORS
                      </h1>
                    </td>
                  </tr>
                  <tr style="margin:0px;padding:0px;vertical-align:top;display:block">
                    <td>
                      <span style="color:rgb(77,79,83);font-size:12px;font-weight:bold">
                        Brussels Airlines
                      </span>
                      <span style="color:rgb(77,79,83);font-size:12px;min-height:1.2em">
                        BDIGIY
                      </span>
                    </td>
                  </tr>
                  <tr style="margin:0px;padding:0px;vertical-align:top;display:block">
                    <td>
                      <span style="color:rgb(77,79,83);font-size:12px;font-weight:bold">
                        Air Canada
                      </span>
                      <span style="color:rgb(77,79,83);font-size:12px;min-height:1.2em">
                        P4DD2A
                      </span>
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
            <tr style="margin:0px;padding:0px 20px;vertical-align:top;display:block">
              <td>
                <table style="margin:0px;padding:20px 0px;width:250px;color:white;font-family:Arial;display:block;background-color:rgb(255,255,255)" cellspacing="0" cellpadding="0">
                  <tbody><tr style="margin:0px;padding:0px;vertical-align:top;display:block">
                    <td colspan="2">
                      <h1 style="margin:6px 0px 11px;padding:0px 0px 10px;color:rgb(77,79,83);font-size:15px;font-weight:bold">
                        TRAVELERS
                      </h1>
                    </td>
                  </tr>
                  <tr style="margin:0px;padding:0px;vertical-align:top;display:block">
                    <td>
                      <table style="margin:0px;padding:0px;width:250px;color:rgb(77,79,93);font-size:12px" cellspacing="0" cellpadding="0">
                        <tbody><tr></tr>
                        <tr><td style="margin:0px;padding:0px 20px 20px 0px">
                          <table style="width:250px;font-family:Arial">
                            <tbody><tr>
                              <td colspan="2">
                                <span style="font-size:14px;font-weight:bold">Passenger 1:</span>
                                <span style="font-size:14px">
                                   JENNIFER  WU
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <span style="font-size:12px;font-weight:bold">Ticket Number:</span>
                                <span style="font-size:12px">
                                  0827318938751-52
                                </span>
                              </td>
                            </tr>
                            <tr style="vertical-align:top">
                              <td>
                                <span style="font-size:12px;font-weight:bold">Request:</span>
                              </td>
                              <td>
                                <table style="margin:0px;padding:0px;font-family:Arial;font-size:12px;vertical-align:top;display:block;background-color:rgb(255,255,255)" cellspacing="0" cellpadding="0">
                                  <tbody><tr>
                                    <td>
                                      Accessibility -
                                      --
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      Meal -
                                      Standard
                                    </td>
                                  </tr>
                                </tbody></table>
                              </td>
                            </tr>
                            <tr style="vertical-align:top">
                              <td style="width:100px">
                                <span style="font-size:12px;font-weight:bold">Loyalty Program:</span>
                              </td>
                              <td>
                                <table style="margin:0px;padding:0px;font-family:Arial;font-size:12px;vertical-align:top;display:block;background-color:rgb(255,255,255)" cellspacing="0" cellpadding="0">
                                </table>
                              </td>
                            </tr>
                          </tbody></table>
                        </td>
                      </tr></tbody></table>
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>
          
          <table style="margin:0px;padding:0px;width:600px;color:white;font-family:Arial;display:block;background-color:rgb(100,14,101)" cellspacing="0" cellpadding="0">
  <tbody><tr style="padding:20px;vertical-align:top;display:block">
    <td colspan="2">
      <h1 style="margin:0px;padding:0px;color:rgb(255,255,255);font-size:16px;font-weight:bold">
        COMPLETE YOUR TRAVEL PLANS
      </h1>
    </td>
  </tr>
  <tr style="padding:0px 20px 20px;vertical-align:top;display:block">
    <td>
      <table style="margin:0px;padding:0px;font-family:Arial" cellspacing="0" cellpadding="0">
        <tbody><tr style="vertical-align:top">
          <td style="width:67px;vertical-align:top">
            <img src="https://ci6.googleusercontent.com/proxy/ii106ZbDEm4Hz_2KiyzCbGqLX_cd9I3BRqy8i-suQ5v7Fgzd_ony3FgjXEXJMrFHhun0IS9Lh8v_ZkhkEegqgCp4yxC-eCriX55L5glVODLM5DsMceioMTG2itG7NohpyA=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/PWS_img_hotel-pool_67X45-1.jpg">
          </td>
          <td style="width:200px;color:white;padding-left:12px;vertical-align:top">
            <div style="line-height:100%;padding-bottom:5px;font-size:13px;font-weight:bold">
              Book a Hotel
            </div>
            <div style="line-height:100%;padding-bottom:5px;font-size:12px">
              Travel farther on your budget when you add a hotel to your flight. Hotels in
              <span class="il">Barcelona</span>
            </div>
            <div style="color:white;text-decoration:none">
              <a style="color:white;font-size:12px;font-weight:bold" href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?http://travel.americanexpress.com/hotel" target="_blank">
                Book Now
                <img align="baseline" src="https://ci5.googleusercontent.com/proxy/DB6o1XO2OMjMnyidP8hYElGsViKjTum0lmv91NK-p-N8OzHipCgQqBwUl9293ce6Fu9wZY4dzZnzcRNl5krBIixlzRKuhfIgnglTxS1kG-dMrw=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/white-arrow.png">
              </a>
            </div>
          </td>
        </tr>
      </tbody></table>
    </td>
    <td style="padding-left:20px;vertical-align:top">
      <table style="margin:0px;padding:0px;font-family:Arial" cellspacing="0" cellpadding="0">
        <tbody><tr style="vertical-align:top">
          <td style="vertical-align:top">
            <img src="https://ci6.googleusercontent.com/proxy/RslAQierOLA94rgQqZ73X0Ngw-d9BjRvFeINswnYy0zpAUD09MQL49y3Wfqwa_O1-xfBWWXavVf8bmzbp0jvFkw1KO7heTUPzAi6Wa6EZzDd9DzHix_rgACpX4Id=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/PWS_img_car-town_67X45.jpg">
          </td>
          <td style="width:200px;color:white;padding-left:12px;vertical-align:top">
            <div style="line-height:100%;padding-bottom:5px;font-size:13px;font-weight:bold">
              Book a Car
            </div>
            <div style="line-height:100%;padding-bottom:5px;font-size:12px">
              Once you get there, get going! Add a car to your trip and save on the package.
            </div>
            <div style="color:white;text-decoration:none">
              <a style="color:white;font-size:12px;font-weight:bold" href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?http://travel.americanexpress.com/car" target="_blank">
                Book Now
                <img align="baseline" src="https://ci5.googleusercontent.com/proxy/DB6o1XO2OMjMnyidP8hYElGsViKjTum0lmv91NK-p-N8OzHipCgQqBwUl9293ce6Fu9wZY4dzZnzcRNl5krBIixlzRKuhfIgnglTxS1kG-dMrw=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/white-arrow.png">
              </a>
            </div>
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>
          
          
          
          
<table style="background:rgb(255,255,255);margin:0px;padding:0px 0px 10px;width:600px;font-family:Arial;display:block" cellspacing="0" cellpadding="0">
  <tbody><tr style="margin:0px;padding:20px 0px;width:600px;vertical-align:top;display:block">
    <td colspan="2">
      <img src="https://ci3.googleusercontent.com/proxy/ffULdzXLnuolaM31GJxCGBK7Crt-rO56ukb7VBTXLOKi1u6t-1kOtHVXTgsym7SmY0QYtdCLQDNkZZAdPtoFxMkLMRa3tmA-oMHMSs2MSMVH5AncfrFR_gqEt2BJbjJRzg=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/cost-billing-information-1.png">
    </td>
  </tr>
  <tr style="margin:0px;padding:0px 20px;vertical-align:top;display:block">
    <td>
      <table style="margin:0px;padding:0px;width:300px;color:white;font-family:Arial;display:block;background-color:rgb(255,255,255)" cellspacing="0" cellpadding="0">
        <tbody><tr style="margin:0px;padding:0px;width:250px;vertical-align:top;display:block">
          <td colspan="2">
            <h1 style="margin:0px;padding:0px 0px 10px;width:300px;color:rgb(77,79,83);font-size:15px;font-weight:bold">
              Cost Information
            </h1>
          </td>
        </tr>
        <tr style="margin:0px;padding:0px;width:250px;vertical-align:top;display:block">
          <td>
            <table style="margin:0px;padding:0px;width:300px;font-family:Arial;display:block" cellspacing="0" cellpadding="0">
              
              <tbody><tr style="background:url(&quot;https://ci6.googleusercontent.com/proxy/E3xLq2vIdd_ogN0HrHOkCzd4O6FVvBUuqv8WRzKL1rpsTYZo6FLxQLhxyIuYrnJ5r0Gpwi7m0ILdk8ZbovI8o3YGYO8NYhSyNP3l=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/dots.png&quot;) repeat-x 0% 72%;width:300px;display:block">
                <td style="width:100px">
                  <span style="color:rgb(77,79,83);font-size:12px;display:inline;background-color:rgb(255,255,255)">
                    Adult
                  </span>
                </td>
                <td style="width:200px;text-align:right;color:white;padding-left:12px;vertical-align:top">
                  <span style="color:rgb(0,38,99);font-size:16px;font-weight:bold;vertical-align:super;background-color:rgb(255,255,255)">$</span>
                  <span style="color:rgb(0,38,99);font-size:23px;font-weight:bold;background-color:rgb(255,255,255)">
                    892.00
                  </span>
                </td>
              </tr>
              <tr style="background:url(&quot;https://ci6.googleusercontent.com/proxy/E3xLq2vIdd_ogN0HrHOkCzd4O6FVvBUuqv8WRzKL1rpsTYZo6FLxQLhxyIuYrnJ5r0Gpwi7m0ILdk8ZbovI8o3YGYO8NYhSyNP3l=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/dots.png&quot;) repeat-x 0% 72%;width:300px;display:block">
                <td style="width:185px">
                  <span style="color:rgb(77,79,83);font-size:12px;background-color:rgb(255,255,255)">Taxes &amp; Airline/American Express Imposed Fees</span>
                </td>
                <td style="width:200px;text-align:right;color:white;padding-left:12px;vertical-align:top">
                  <span style="color:rgb(0,38,99);font-size:16px;font-weight:bold;vertical-align:super;background-color:rgb(255,255,255)">$</span>
                  <span style="color:rgb(0,38,99);font-size:23px;font-weight:bold;background-color:rgb(255,255,255)">
                    632.49
                  </span>
                </td>
              </tr>
              
              
              <tr style="background:url(&quot;https://ci6.googleusercontent.com/proxy/E3xLq2vIdd_ogN0HrHOkCzd4O6FVvBUuqv8WRzKL1rpsTYZo6FLxQLhxyIuYrnJ5r0Gpwi7m0ILdk8ZbovI8o3YGYO8NYhSyNP3l=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/dots.png&quot;) repeat-x 0% 72%;width:300px;font-family:Arial;display:block">
                <td style="width:100px">
                  <span style="width:60px;color:rgb(77,79,83);line-height:30px;padding-top:8px;font-size:12px;display:block;background-color:rgb(255,255,255)">Total Cost</span>
                </td>
                <td style="width:200px;text-align:right;color:white;padding-left:12px;vertical-align:top">
                  <span style="color:rgb(0,38,99);font-size:16px;font-weight:bold;vertical-align:super;background-color:rgb(255,255,255)">$</span>
                  <span style="color:rgb(0,38,99);font-size:31px;font-weight:bold;background-color:rgb(255,255,255)">
                    1524.49
                  </span>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
    </td>
    <td>
      <table style="margin:0px;padding:0px 0px 0px 20px;width:250px;color:rgb(77,79,83);font-family:Arial" cellspacing="0" cellpadding="0">
        <tbody><tr style="vertical-align:top">
          <td>
            
            <table style="margin:0px;padding:0px;width:250px;font-family:Arial;vertical-align:top" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td>
                  <h1 style="margin:0px;padding:0px 0px 10px;color:rgb(77,79,83);font-size:15px;font-weight:bold">
                    Credit Card Information
                  </h1>
                </td>
              </tr>
              <tr>
                <td>
                  <table style="margin:0px;padding:0px;width:250px;color:rgb(102,102,102);font-family:Arial;vertical-align:top" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td style="width:250px;color:rgb(77,79,83);line-height:20px;font-size:12px;display:block">
                        <div style="width:250px;display:block">
                          <span style="font-weight:bold">Cardholder:</span>
                          <span>
                            On File
                          </span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="width:250px;color:rgb(77,79,83);line-height:20px;font-size:12px;display:block">
                        <div style="width:250px;display:block">
                          <span style="font-weight:bold">Card Type:</span>
                          <span>
                            American Express
                          </span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="width:250px;color:rgb(77,79,83);line-height:20px;font-size:12px;display:block">
                        <div style="width:250px;display:block">
                          <span style="font-weight:bold">Card Number:</span>
                          <span>
                            XXXX-XXXX-XXXX-2006
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
            </tbody></table>
            
            <table style="margin:30px 0px 0px;padding:0px;width:250px;color:rgb(102,102,102);font-family:Arial;vertical-align:top" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td>
                  <h1 style="margin:0px;padding:0px 0px 10px;width:250px;color:rgb(77,79,83);font-size:15px;font-weight:bold">
                    Billing Information
                  </h1>
                </td>
              </tr>
              <tr>
                <td>
                  <table style="margin:0px;padding:0px;width:250px;color:rgb(77,79,83);font-family:Arial" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td style="width:250px;color:rgb(77,79,83);line-height:20px;font-size:12px;display:block">
                        <div style="width:250px;display:block">
                          <span>
                            Your billing information for the selected card account is on file.
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>
          
          
          
          <table style="background:rgb(255,255,255);padding:0px;width:600px;font-family:arial;display:block" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td style="padding-top:20px;padding-bottom:20px;vertical-align:top" colspan="2">
                <img src="https://ci4.googleusercontent.com/proxy/oa5l529LEaQIOAdDy75yYaR3nkscwwJxgx3VplZTj8oup5kqejnXv8m9AxGgF9LTVziKqGde8VkuOUzkxrgyGjfcGlRq-simWgZGxIEdyRjeb9DpGQ=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/plan-your-trip.png">
              </td>
            </tr>
            <tr>
              <td style="width:65px;text-align:center;vertical-align:top">
                <img src="https://ci4.googleusercontent.com/proxy/Q1xRfXSfUZAWrl56Astkh43RSYFQw0JlDABS3H34xg_FsIaKg7uc7JnciMrCOemWaU1gRE_4a3rUiHWS6pQsUqLqAkNUsPfwcgNjBwk=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/shape2.png">
              </td>
              <td style="width:480px;padding-bottom:20px;vertical-align:top">
                <span style="color:rgb(77,79,83);font-family:arial;font-size:13px">
                  Planning ahead so you'll know the things to do, see, and eat while you travel is the fun part, but don’t forget to help protect your trip against unforeseen events, and then relax.
                  <a style="color:rgb(77,79,83)" href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?https://www.americanexpress.com/travel-insurance/" target="_blank">Click here</a>
                  for more information on our travel insurance options.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width:65px;text-align:center;vertical-align:top">
                <img src="https://ci4.googleusercontent.com/proxy/Ym1qQYW7d3wc2zoDGGRvDUyNjsqRmPklSUOnC5or1pyNpWJMUeDIyWyXCOM9biTxxNC78Cj1sOyIxTJ3udPzGVwbAVl-dTOVKdm8zPo=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/shape3.png">
              </td>
              <td style="width:480px;padding-bottom:20px;vertical-align:top">
                <span style="color:rgb(77,79,83);font-family:arial;font-size:13px">
                  For peace of mind wherever you go, carry American Express Travelers Cheques. They never expire, and we'll refund them if lost or stolen. We also give you 24/7 customer support so you can get help when you need it.
                  <a style="color:rgb(77,79,83)" href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?https://www212.americanexpress.com/dsmlive/dsm/dom/us/en/personal/cardmember/additionalproductsandservices/giftcardsandtravelerscheques/travelerschequesandforeigncurrency.do?vgnextoid=6d17fc671492a110VgnVCM100000defaad94RCRD&amp;vgnextchannel=95ddb81e8482a110VgnVCM100000defaad94RCRD&amp;inav=travel_cheques" target="_blank">
                    Learn More
                    <img align="baseline" src="https://ci6.googleusercontent.com/proxy/hs7jls0-xLaE4RcwKMJlLZLV9WHGzKyI8BN2B-xgzG3fx8Guaceh_gXNxS5kXYqq-pcnCKq5sIRZm1EpfJm_VKHcXAqc24wA6NdNhX-TPR2n=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/gray-arrow.png">
                  </a>
                </span>
              </td>
            </tr>
          </tbody></table>
          
          <table style="background:rgb(100,14,101);padding:20px 0px;width:100%;display:block" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td style="width:85px;text-align:center;vertical-align:top">
                <img src="https://ci6.googleusercontent.com/proxy/-CSAm0y0Kx7qrYVwIz7ka3paUHUaFUgF3qKcgMYglFkwAZxu7VHHDYuVwYlxCTW22B5l7RuGtWG5kZN3VBRhnDAdimlg5_ciYoBF_A=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/shape.png">
              </td>
              <td style="width:400px;vertical-align:top">
                <h1 style="margin:0px;padding:0px;width:350px;color:rgb(255,255,255);line-height:100%;font-family:arial;font-size:16px;font-weight:bold">
                  DON'T MISS OUT
                </h1>
                <span style="color:white;font-family:arial;font-size:13px">
                  Get exciting travel savings and inspiration in our weekly emails
                </span>
              </td>
              <td style="text-align:center;vertical-align:top">
                <a href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?http://ebm.email.americanexpress.com/r/regf2?aid=268935263&amp;n=4&amp;a=0" target="_blank">
                  <img src="https://ci3.googleusercontent.com/proxy/yD4dQrmklxwEASeSxLDfDNJDxn5spsi1dP5NIV3Tq-zllS2j7fkAiAQzpFeioYf8E75CxjVSDmh2fV8HbQ4ScFY3QSmWE1Wy9N8-U3TDYsuxq7ktPMre3U3yqE-8dESxJHMby2GRmCFdLZ_J=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/Capturadepantalla2012-04-13alas155311.png">
                </a>
              </td>
            </tr>
          </tbody></table>
          
          
          <table style="background:rgb(255,255,255);margin:0px;font-family:Arial;display:block" cellspacing="0" cellpadding="0">
  <tbody><tr style="padding-top:20px;padding-bottom:5px;padding-left:20px;vertical-align:top;display:block">
    <td colspan="2">
      <h1 style="color:rgb(0,38,99);text-transform:uppercase;font-family:Arial,BentonSans;font-size:12px;font-weight:bold">
        Policies, Rules and Restrictions
      </h1>
    </td>
    <td colspan="2"></td>
  </tr>
  <tr style="padding:5px 0px 5px 20px;width:540px;vertical-align:top;display:block">
    <td style="width:5px;text-align:center;vertical-align:top">
      <img style="margin-right:5px;margin-bottom:2px" src="https://ci5.googleusercontent.com/proxy/QW92R0E_IG4VW-NqfNNhHNWANSaElyCeNp4zbonQ7-YUsgBU9P_xnSQWaJCYQzxyZ2RS1Ev0cdyogbV_v7jpUsYM7CalC-3EfaUXcmpmjJqKT2LXGzsop40=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/list-item-policies.png">
    </td>
    <td style="width:540px;color:rgb(77,79,83);font-family:Arial;font-size:11px">
      <span style="font-family:Arial;font-size:11px;font-weight:bold">Photo ID</span>
      - Every passenger must have a valid government-issued photo ID (such as a driver's license or passport). Please note that the name on the photo ID must match the passenger name in the reservation.
    </td>
  </tr>
  <tr style="padding:5px 0px 5px 20px;width:540px;vertical-align:top;display:block">
    <td style="width:5px;text-align:center;vertical-align:top">
      <img style="margin-right:5px;margin-bottom:2px" src="https://ci5.googleusercontent.com/proxy/QW92R0E_IG4VW-NqfNNhHNWANSaElyCeNp4zbonQ7-YUsgBU9P_xnSQWaJCYQzxyZ2RS1Ev0cdyogbV_v7jpUsYM7CalC-3EfaUXcmpmjJqKT2LXGzsop40=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/list-item-policies.png">
        </td><td style="width:540px;color:rgb(77,79,83);font-family:Arial;font-size:11px;font-weight:bold">
          Once the ticket has been issued the name on the ticket cannot be changed.
        </td>
      
      </tr><tr style="padding:5px 0px 5px 20px;width:540px;vertical-align:top;display:block">
        <td style="width:5px;text-align:center;vertical-align:top">
          <img style="margin-right:5px;margin-bottom:2px" src="https://ci5.googleusercontent.com/proxy/QW92R0E_IG4VW-NqfNNhHNWANSaElyCeNp4zbonQ7-YUsgBU9P_xnSQWaJCYQzxyZ2RS1Ev0cdyogbV_v7jpUsYM7CalC-3EfaUXcmpmjJqKT2LXGzsop40=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/list-item-policies.png">
        </td>
        <td style="width:540px;color:rgb(77,79,83);font-family:Arial;font-size:11px">
          The trip cost includes your selected products/services and any applicable fees.
        </td>
      </tr>
      <tr style="padding:5px 0px 5px 20px;width:540px;vertical-align:top;display:block">
        <td style="width:5px;text-align:center;vertical-align:top">
          <img style="margin-right:5px;margin-bottom:2px" src="https://ci5.googleusercontent.com/proxy/QW92R0E_IG4VW-NqfNNhHNWANSaElyCeNp4zbonQ7-YUsgBU9P_xnSQWaJCYQzxyZ2RS1Ev0cdyogbV_v7jpUsYM7CalC-3EfaUXcmpmjJqKT2LXGzsop40=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/list-item-policies.png">
        </td>
        <td style="width:540px;color:rgb(77,79,83);font-family:Arial;font-size:11px">
          You agree to the airline's ticket terms and conditions.
        </td>
      </tr>
      <tr style="padding:5px 0px 5px 20px;width:540px;vertical-align:top;display:block">
        <td style="width:5px;text-align:center;vertical-align:top">
          <img style="margin-right:5px;margin-bottom:2px" src="https://ci5.googleusercontent.com/proxy/QW92R0E_IG4VW-NqfNNhHNWANSaElyCeNp4zbonQ7-YUsgBU9P_xnSQWaJCYQzxyZ2RS1Ev0cdyogbV_v7jpUsYM7CalC-3EfaUXcmpmjJqKT2LXGzsop40=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/list-item-policies.png">
        </td>
        <td style="width:540px;color:rgb(77,79,83);font-family:Arial;font-size:11px">
          Changes to this ticket, if permitted, will incur change fees.
        </td>
      </tr>
      <tr style="padding:5px 0px 5px 20px;width:540px;vertical-align:top;display:block">
        <td style="width:5px;text-align:center;vertical-align:top">
          <img style="margin-right:5px;margin-bottom:2px" src="https://ci5.googleusercontent.com/proxy/QW92R0E_IG4VW-NqfNNhHNWANSaElyCeNp4zbonQ7-YUsgBU9P_xnSQWaJCYQzxyZ2RS1Ev0cdyogbV_v7jpUsYM7CalC-3EfaUXcmpmjJqKT2LXGzsop40=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/list-item-policies.png">
        </td>
        <td style="width:540px;color:rgb(77,79,83);font-family:Arial;font-size:11px">
          You agree to the fare rules and restrictions applicable for this fare.
        </td>
      </tr>
      <tr style="padding:5px 0px 5px 20px;width:540px;vertical-align:top;display:block">
        <td style="width:5px;text-align:center;vertical-align:top">
          <img style="margin-right:5px;margin-bottom:2px" src="https://ci5.googleusercontent.com/proxy/QW92R0E_IG4VW-NqfNNhHNWANSaElyCeNp4zbonQ7-YUsgBU9P_xnSQWaJCYQzxyZ2RS1Ev0cdyogbV_v7jpUsYM7CalC-3EfaUXcmpmjJqKT2LXGzsop40=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/list-item-policies.png">
        </td>
        <td style="width:540px;color:rgb(77,79,83);font-family:Arial;font-size:11px">
          International trips require special travel documentation such as passport and visas for each traveler. It is the traveler's responsibility to obtain and travel with the
          <a>required travel documents.</a>
        </td>
      </tr>
      <tr style="padding:5px 0px 5px 20px;width:540px;vertical-align:top;display:block">
        <td style="width:5px;text-align:center;vertical-align:top">
          <img style="margin-right:5px;margin-bottom:2px" src="https://ci5.googleusercontent.com/proxy/QW92R0E_IG4VW-NqfNNhHNWANSaElyCeNp4zbonQ7-YUsgBU9P_xnSQWaJCYQzxyZ2RS1Ev0cdyogbV_v7jpUsYM7CalC-3EfaUXcmpmjJqKT2LXGzsop40=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/list-item-policies.png">
        </td>
        <td style="width:540px;color:rgb(77,79,83);font-family:Arial;font-size:11px">
          <a style="color:rgb(77,79,83);font-weight:bold" href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?https://www.amextravel.com//baggage_fees?code=00" target="_blank">Baggage fees</a>
          are not charged at booking.
        </td>
      </tr>
      <tr style="padding:5px 0px 5px 20px;width:540px;vertical-align:top;display:block">
        <td style="width:5px;text-align:center;vertical-align:top">
          <img style="margin-right:5px;margin-bottom:2px" src="https://ci5.googleusercontent.com/proxy/QW92R0E_IG4VW-NqfNNhHNWANSaElyCeNp4zbonQ7-YUsgBU9P_xnSQWaJCYQzxyZ2RS1Ev0cdyogbV_v7jpUsYM7CalC-3EfaUXcmpmjJqKT2LXGzsop40=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/list-item-policies.png">
        </td>
        <td style="width:540px;color:rgb(77,79,83);font-family:Arial;font-size:11px">
          This ticket may be non-refundable.  Please read the airline fare rules and restrictions for more information.
        </td>
      </tr>
      <tr style="padding:5px 0px 5px 20px;width:540px;vertical-align:top;display:block">
        <td style="width:5px;text-align:center;vertical-align:top">
          <img style="margin-right:5px;margin-bottom:2px" src="https://ci5.googleusercontent.com/proxy/QW92R0E_IG4VW-NqfNNhHNWANSaElyCeNp4zbonQ7-YUsgBU9P_xnSQWaJCYQzxyZ2RS1Ev0cdyogbV_v7jpUsYM7CalC-3EfaUXcmpmjJqKT2LXGzsop40=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/list-item-policies.png">
        </td>
        <td style="width:540px;color:rgb(77,79,83);font-family:Arial;font-size:11px">
          You acknowledge and agree that your bookings on this site are subject to the
          <a href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?https://www212.americanexpress.com/dsmlive/dsm/int/importanttravelnoticestermsandconditions.do?vgnextoid=01e35fc56445c210VgnVCM100000defaad94RCRD" target="_blank">Important Travel Notices, Terms and Conditions</a>
        </td>
      </tr>
    
  
</tbody></table>
<br>
          
<div style="font:11px/1.35 Arial,sans-serif;margin:15px;padding:15px 0px;text-align:justify;color:rgb(136,136,136);border-top-color:rgb(136,136,136);border-top-width:1px;border-top-style:solid;font-size-adjust:none;font-stretch:normal">

  <p style="margin:0px 0px 1em">
    All services covered by this itinerary are subject to the terms and conditions specified by the suppliers. Customer agrees to the terms and conditions set forth on
    any brochures or advertisements describing any tour, cruise, accommodations, transportation or other services, and to any and all conditions contained in documents
    for any such services including, without limitation, all cancellation and change fees. No employee of American Express and its affiliates, subsidiary companies or
    representatives has authority to vary the terms and conditions.  Please be advised that certain mandatory hotel-imposed charges, including, but not limited to,
    daily resort or facility fees, may be applicable to your stay and payable to the hotel operator at check-out from the property.  You may wish to inquire with the
    hotel before your trip regarding the existence and amount of such charges.
  </p>
  <p style="margin:1em 0px">
    <span style="font-weight:bold">Air Transportation.</span>
    Imporant airline ticket terms and conditions and other important notices apply to air transportation.
    Please visit <a style="color:rgb(136,136,136)" href="https://www.aeairweb.com/mtaImages/TICKET_TANDC_AND_OTHER_IMPORTANT_NOTICES.pdf" target="_blank">
    TICKET TERMS AND CONDITIONS AND OTHER IMPORTANT NOTICES</a> for more information.
  </p>
  <p style="margin:1em 0px">
    <span style="font-weight:bold">Liability Statement.</span>
    American Express Travel Related Services Company, Inc. and its parent, subsidiaries, affiliates and representatives (collectively, "Amex") act as an agent for
    travel suppliers and you understand and agree that Amex shall not be liable for any loss, injury, expense or damage to persons or property resulting, directly or
    indirectly, from (1) the acts of omissions of travel suppliers, including but not limited to delays, overbooking's, cancellation of services, cessation of
    operations, accidents or failures of equipment, or changes in fares, itineraries or schedules; or (2) acts of God, fires, earthquakes, floods, climatic aberrations,
    acts of governmental authorities, civil unrest, strikes, riots, theft, disease, accidents or failures related to the public internet, telecommunications lines or
    facilities, or third party technology systems, or any other cause beyond the control of Amex.
  </p>
  <p style="margin:1em 0px">
    <span style="font-weight:bold">Intermediary Disclosure.</span>
    Amex assists you in finding travel suppliers and making arrangements that meet your individual needs. We consider various factors in identifying travel suppliers
    to you and recommending specific itineraries.  In this role, we are acting as an independent third party and not as a fiduciary. We want you to be aware that
    certain suppliers pay us commissions as well as incentives for reaching sales targets or other goals, and from time to time may also provide incentives to our
    travel counselors.  Certain suppliers may also provide compensation to us for various marketing and administrative services that we perform for them, such as
    granting them access to our marketing channels, participating in marketing programs and supporting technology initiatives.  In addition, we receive compensation
    from suppliers when customers use the American Express Card or other American Express products to pay for supplier products and services. From time to time we may
    enter into other business relationships with suppliers and these arrangements, including levels and types of compensation and incentives we receive, are subject to
    change.  In identifying suppliers and recommending itineraries, we may consider a number of factors, including supplier availability and your preferences.  The
    relationships we have with suppliers may also influence the suppliers we identify and the itineraries we recommend.
  </p>
  <h3 style="margin:1em 0px;font-size:100%;font-weight:bold">CALIFORNIA:</h3>
  <p style="margin:1em 0px">
    This transaction is covered by the California Travel Consumer Restitution Fund (TCRF) if the seller of travel was registered and participating in the TCRF at the
    time of sale and the passenger is located in California at the time of payment. Eligible passengers may file a claim with TCRF if the passenger is owed a refund of
    more than $50 for transportation or travel services which the seller of travel failed to forward to a proper provider or such money was not refunded to you when
    required. The maximum amount which may be paid by the TCRF to any one passenger is the total amount paid on behalf of the passenger to the seller of travel, not to
    exceed $15,000. A claim must be submitted to the TCRF within 12 months after the scheduled completion date of the travel. A claim must include sufficient
    documentation to prove your claim and a $35 processing fee. Claimants must agree to waive their right to other civil remedies against a registered participating
    seller of travel for matters arising out of a sale for which you file a TCRF claim. You may request a claim form by writing to: Travel Consumer Restitution
    Corporation; P.O. Box 6001; Larkspur, CA 94977-6001; or by visiting TCRC's website at: <a style="color:rgb(136,136,136)" href="http://www.tcrcinfo.org" target="_blank">www.tcrcinfo.org</a>.
  </p>
  <h3 style="margin:1em 0px;font-size:100%;font-weight:bold">WASHINGTON:</h3>
  <p style="margin:1em 0px">
    If transportation or other services are canceled by the seller of travel, all sums paid to the seller of travel for services not performed in accordance with the
    contract between the seller of travel and the purchaser will be refunded within thirty (30) days of receiving the funds from the vendor with whom the services were
    arranged, or if the funds were not sent to the vendor, the funds shall be returned within fourteen (14) days after cancellation by the seller of travel to the
    purchaser unless the purchaser requests the seller of travel to apply the money to another travel product and/or date.
  </p>
  <h3 style="margin:1em 0px;font-size:100%;font-weight:bold">NEVADA:</h3>
  <h4 style="margin:1em 0px;font-size:100%;font-weight:bold">RECOVERY FUND FOR CONSUMERS DAMAGED BY SELLERS OF TRAVEL</h4>
  <p style="margin:1em 0px 3em">
    You may be eligible for payment from the Recovery Fund if you have paid money to a seller of travel registered in Nevada for the purchase of travel services or
    a vacation certificate and you have suffered certain financial damages as a result of the transaction. To obtain information relating to your rights under the
    Recovery Fund and the filing of a claim for recovery from the Recovery Fund, you may contact the Consumer Affairs Division of the Department of Business and
    Industry at the following locations:
  </p>
  <p style="margin:1em 0px">
    SOUTHERN NEVADA:
    1850 East Sahara Avenue, Suite 101, Las Vegas, Nevada 89104,
    Phone: <a style="color:rgb(136,136,136);text-decoration:none" href="tel:702.486.7355" target="_blank">702.486.7355</a>,
    Fax: <a style="color:rgb(136,136,136);text-decoration:none" href="tel:702.486.7371" target="_blank">702.486.7371</a>,
    e-mail: <a style="color:rgb(136,136,136);text-decoration:none" href="mailto:ncad@fyiconsumer.org" target="_blank">ncad@fyiconsumer.org</a>
  </p>
  <p style="margin:1em 0px">
    NORTHERN NEVADA:
    4600 Kietzke Lane, Building B, Suite 113, Reno, Nevada 89502,
    Phone: <a style="color:rgb(136,136,136);text-decoration:none" href="tel:775.688.1800" target="_blank">775.688.1800</a>,
    Fax: <a style="color:rgb(136,136,136);text-decoration:none" href="tel:775.688.1803" target="_blank">775.688.1803</a>,
    e-mail: <a style="color:rgb(136,136,136);text-decoration:none" href="mailto:ncad@fyiconsumer.org" target="_blank">ncad@fyiconsumer.org</a>
  </p>
  <p style="margin:1em 0px;font-weight:bold">California CST#1022318-10, Rhode Island ML#1192, Washington UBI#600-469-694, Iowa TA#002, Nevada NV#2001-0126.</p>
</div>
          
          <div style="width:600px;border-top-color:rgb(100,14,101);border-top-width:2px;border-top-style:solid;display:block">
            <div style="padding-right:15px;padding-left:15px;font-family:Arial">
  <p style="width:540px;color:rgb(77,79,83);font-size:11px">
    <sup>1</sup>
    Eligible purchases are all travel purchases, excluding car reservations and non-prepaid hotels,
    booked through
    <a href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?http://www.amextravel.com/" target="_blank">amextravel.com</a>
    on your Membership Rewards program-enrolled American Express® Card
  </p>
  <br>
  <p style="line-height:11px;font-family:Arial;font-size:11px;font-weight:bold">Extra Points:</p>
  <p style="font-family:Arial;font-size:11px">
    To earn one (1) extra point on each dollar of eligible purchases, you must charge air, prepaid
    hotel, Complete Trip (flight + hotel packages), American Express Vacations package or cruise
    reservations through
    <a href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?http://www.amextravel.com/" target="_blank">amextravel.com</a>
    to your Membership Rewards program-enrolled
    Card. Any portion of a charge that you elect to pay through redemption of Membership Rewards
    points is not eligible to earn points.
    <span style="font-weight:bold">Bonus ID A2EM</span>
    (Air, Hotel, and Complete Trip);
    <span style="font-weight:bold">Bonus ID 5432</span>
    (Cruise);
    <span style="font-weight:bold">Bonus ID 6955</span>
    (American Express Vacations Packages). Bonus points will
    be credited to the Membership Rewards account 10-12 weeks after final payment is made.
  </p>
  <p style="font-family:Arial;font-size:11px">
    See
    <a href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?http://membershiprewards.com/terms" target="_blank">membershiprewards.com/terms</a>
    for the Membership Rewards program terms and conditions.
  </p>
  <br>
  <p style="line-height:11px;font-family:Arial;font-size:11px;font-weight:bold">Pay with Points:</p>
  <p style="font-family:Arial;font-size:11px">
    To use Pay with Points, you must charge your purchase through
    <a href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?http://www.amextravel.com/" target="_blank">amextravel.com</a>
    to a Membership Rewards® program-enrolled American Express® Card. Points will be debited from
    your Membership Rewards account, and credit for corresponding dollar amount will be issued to
    the American Express Card account used. If points redeemed do not cover entire amount, the
    balance of purchase price will remain on the American Express Card account. Minimum redemption
    5,000 points.
  </p>
  <p style="font-family:Arial;font-size:11px">
    See
    <a href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?http://membershiprewards.com/terms" target="_blank">membershiprewards.com/terms</a>
    for the Membership Rewards program terms and conditions.
  </p>
  <p style="font-family:Arial;font-size:11px">
    If a charge for a purchase is included in a Pay
    Over Time feature balance on your Linked Account (for example, the Extended Payment Option), the
    statement credit associated with that charge may not be applied to that Pay Over Time feature
    balance. Instead the statement credit may be applied to your Pay in Full balance. If you believe
    this has occurred, please contact us by calling the number on the back of your card.
  </p>
  <br>
  <p style="line-height:11px;font-family:Arial;font-size:11px;font-weight:bold">Lowest Hotel Rate Guaranteed:</p>
  <p style="font-family:Arial;font-size:11px">
    If you book a qualifying prepaid hotel rate on <a href="http://amextravel.com" target="_blank">amextravel.com</a> and then find the same room, in the same
    hotel, for the same dates, the same number of children and adults, at a lower price online, before taxes
    and fees, we'll refund you the difference. The "Lowest Hotel Rate Guaranteed" policy applies only to
    online rates available to the general public and excludes (1) rates or discounts that are not available
    to the general public, including, but not limited to, corporate, group, charter, meeting/convention, AAA,
    government/military, and senior citizen rates/discounts; or (2) hotel rooms booked through or in combination
    with frequent stay, loyalty, points, coupon promotions, rooms won through contests or sweepstakes or
    transferred, or rooms booked on opaque websites that do not allow you to see the name of the hotel until
    your reservation is complete.
    <a href="http://ad.doubleclick.net/clk;265186560;90846275;t;pc=%5BTPAS_ID%5D?https://faq.amextravel.com/app/answers/detail/a_id/20215/kw/guarantee" target="_blank">Details</a>
  </p>
</div>
          </div>
          <div style="width:600px;border-top-color:rgb(100,14,101);border-top-width:2px;border-top-style:solid;display:block">
            <img src="https://ci3.googleusercontent.com/proxy/A9Q8VVqJzZaGKZ9mmvJPQEbq1AyjktCxjiOu18BkEHEn8g2k0O71alNEilZwiaY0fM8C5wMUYVB3HiiIFkHSo-2a_ctY19nXg85gqOkh=s0-d-e1-ft#https://amex-static.iseatz.com//email_images/footer1.png">
          </div>
        </td>
      </tr>
    </tbody></table><div class="yj6qo"></div><div class="adL">
  </div></div></div>
</div></div>