<div class="panel panel-default">
	<div class="panel-heading">
		<div> 
		<h3 style="text-align:left;">Jenny's Barcelona Flight Details
		<span style="float:right;"><%= link_to "Back", root_path%> </span></h3>
		</div>
	</div>
	<div class="panel-body">
		<div align="center">
<div>

<center>

<table style="font-size:12px;border-spacing:0px" cellpadding="0" cellspacing="0" width="620">
<tbody><tr>
    <td colspan="2">
       <a href="http://www.easyjet.com" style="border:0px solid #fff" target="_blank"><img src="https://ci3.googleusercontent.com/proxy/QiRCcNm5WLGLINiiZBpkKzXlnWsjG0qmTKeGiN5F3CCjdObUkgI2jprAP6sA42y7NgiCVAspYrnOkvdPHNbA8rfT4wNq60mA9mL_dvv0IPowdlnVpQJDGXxk11nGWXPrBeQ=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/MastHeadOrange620x55.gif" style="border:0px solid #fff" alt=""></a>
    </td>
</tr>
<tr>
    <td colspan="2" style="margin:7px 0 7px 0;padding:0px;font-size:200%;font-weight:bold;color:rgb(136,136,136);text-align:left">
        Thank you for booking: <span style="color:#ff7b00">EMCGR8F</span>
    </td>
</tr>

<tr>
    <td colspan="2">


<table style="background-color:#fafaf8;margin:0 0 0 0;border:3px solid #ccc;border-radius:10px" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td style="padding-top:10px;padding-left:10px">
            <img alt="Next Step" src="https://ci5.googleusercontent.com/proxy/IxgFwawShFmvB_ki4KoeEWQuJmsvSL9rTSaQkW-kLDIa9HqSYl_INbHdU_s1CHkABzE0pYZYF0uFGcGu9vpPP-uRfc_kHL9ScUler_Nl0xPwRGAZF78iU7TOs9AxACtQ_MsF83rWZCwL6fpwm7xeaQ=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/confirmation_Panel_Header_Black_en.png" style="display:block" width="604" height="44">        
        </td>
    </tr>
    <tr>
        <td style="padding:0 10px 10px 10px">
            <table style="font-size:12px;border:2px solid #000000" cellpadding="0" cellspacing="0">
                <tbody><tr style="border-collapse:collapse">
                    <td style="background-color:#000000;padding:5px 5px 5px 5px;font-size:136%;font-weight:normal;color:#ffffff;text-align:left">
                        <div style="margin:0px;padding:0px">
You’re almost done – Check in opens 30 days before your flight                        </div>            
                    </td>
                </tr>
                <tr style="border-collapse:collapse">
                    <td style="padding:10px 10px 10px 15px;text-align:left">
<b>You can only check in online and not at the airport.</b>
                    </td>
                </tr>
               <tr style="border-collapse:collapse">
                    <td style="padding:0px 10px 5px 15px;float:right">
                        <p style="display:table-cell!important;text-align:center;margin:3px;float:right">
                
                                <a href="https://www.easyjet.com/en/MyEasyjet/ViewBooking/EMCGR8F" title="Manage booking >" style="margin:0px;display:block;float:left" target="_blank">
                                    <img src="https://ci4.googleusercontent.com/proxy/__xfAQxxnq0qn9k6dBDdFgm_zfzDXO_1mi5oN3wsxXB0SFlrXXV_k8VNcQVF1tNg5ufPbiOoPk-NO2kcTdUKxzZnQvCohTMaBk6jmEd1hmRxdRBoY-Osk5hHCA7uAzOWyDB2SQ=s0-d-e1-ft#http://www.easyjet.com/Content/Images/EmailContent/button_managebooking_en.png" alt="Manage booking >" align="right" border="0" height="32px">                                                                            
                                </a>
                        </p>
                    </td>
                </tr>
               <tr style="border-collapse:collapse">
                    <td style="padding:0px 10px 10px 15px;text-align:left">
                        <p style="clear:both;display:table-cell!important">
If you are not the passenger travelling then you need to forward this email to them so that they can complete the information required.                        </p>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>
    </td>
</tr>
<tr>
    <td colspan="2">
        &nbsp;
    </td>
</tr>
    <tr>
   
        <td style="vertical-align:top;text-align:left;float:left">
            
            <table style="border:3px solid #ccc;background-color:#fafaf8;border-spacing:0px;width:377px">
            <tbody><tr>
                <td>
                    
              

    <table style="font-size:12px;width:370px" cellspacing="0">
        <tbody><tr>
            <td colspan="2" style="padding:5px">
                <div style="padding-bottom:2px;font-size:130%;font-weight:bold;text-align:left">What else do you need to book?</div>
            </td>
        </tr>

                <tr>
                    <td style="width:100%;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <div style="color:#ff7b00;font-size:110%;font-weight:bold;padding:0 0 2px 0;margin:0">
                            easyJet App
                        </div>
                        <div style="line-height:1.0em;padding:0 0 4px 0;margin:0.0em;font-size:12px">
                            easyJet just got easier. Download our new app for iPhones and Android mobiles. Book and manage flights on the go with easyJet mobile.
                        </div>
                        <div style="line-height:1.0em;padding:0;margin:0px;font-size:12px">
                            <a href="http://www.easyjet.com/en/mobile.html" target="_blank">Download Now</a>
                        </div>
                    </td>
                    <td style="width:35px;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <img src="https://ci6.googleusercontent.com/proxy/QveMe52heUiko_iVdIspv1Ratp8FMOYYzbDQIgxpi9npavCcx9fSthWSkidLWUmEc0pkpOWucTJyZP4Dt-6WrvPBH9NgPYjnhkRiKoRkAO2XkqCQQgZbmg=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/mobile_App.gif" alt="easyJet App">
                    </td>
                </tr>
                <tr>
                    <td style="width:100%;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <div style="color:#ff7b00;font-size:110%;font-weight:bold;padding:0 0 2px 0;margin:0">
                            Car hire in <span class="il">Paris</span>
                        </div>
                        <div style="line-height:1.0em;padding:0 0 4px 0;margin:0.0em;font-size:12px">
                            Preferential Europcar rates exclusively for easyJet customers.  Find a better price elsewhere and we'll refund double the difference.
                        </div>
                        <div style="line-height:1.0em;padding:0;margin:0px;font-size:12px">
                            <a href="http://fr.sitestat.com/europcar/easyjet/s?email.confirmation_email_ce.easyjet.en&amp;ns_campaign=email.confirmation_email_ce.easyjet.en&amp;ns_mchannel=email&amp;ns_source=easyjet.en&amp;ns_linkname=-&amp;ns_fee=-&amp;ns_type=clickin&amp;ns_url=https://cars.easyjet.com/?locale=GB&amp;PROMO=47408745&amp;DATECO=201406271825&amp;DATECI=201406281825&amp;RENTALCNTRY=FR&amp;STATIONCO=CDGT02&amp;STATIONCI=CDGT02&amp;FLGT=EZY3920%20%20%20%20%20%20&amp;ADDR1=2376%20VALLEJO%20STREET&amp;ADDR2=&amp;CITY=SAN%20FRANCISCO&amp;CNTRY=&amp;EML=james.s.watson.iv@gmail.com&amp;FNAME=JAMES&amp;LNAME=WATSON&amp;PHONE=15082658858&amp;ZIP=" target="_blank">Show me my car options</a>
                        </div>
                    </td>
                    <td style="width:35px;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <img src="https://ci5.googleusercontent.com/proxy/rZiJm4T_ZP2xsrOX7rXkID8Z_K3mfBPGgHmrSKGL-ohu1-YyJJ9bP72hB08jOxmgL1b0C54X8vlv00T0uoXvP31Lhc5C_qjxLkpM3w9cRN3CVltHfEI=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/anc_cars.png" alt="Car hire in Paris">
                    </td>
                </tr>
                <tr>
                    <td style="width:100%;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <div style="color:#ff7b00;font-size:110%;font-weight:bold;padding:0 0 2px 0;margin:0">
                            Hotels in <span class="il">Paris</span>
                        </div>
                        <div style="line-height:1.0em;padding:0 0 4px 0;margin:0.0em;font-size:12px">
                            No booking or cancellation fees. <br>Book now pay later.
                        </div>
                        <div style="line-height:1.0em;padding:0;margin:0px;font-size:12px">
                            <a href="http://hotels.easyjet.com/en/p5655/pvcon002/Search/Index/default.aspx?air=CDG&amp;d=20140627&amp;n=1&amp;cur=USD" target="_blank">Quick find me a hotel!</a>
                        </div>
                    </td>
                    <td style="width:35px;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <img src="https://ci6.googleusercontent.com/proxy/e6TSAYa_tcyCvLuJ-ms12T1XQ65Y68Zj8KnQceZmM2mc6IGtgEyrTFURlbbeDqhMiCDpmi5LKOci1zWlA_ZNg5lOpUxqNE3T-XMylBqpFrEjNn_OifU_eT0yWw=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/anc_laterooms.png" alt="Hotels in Paris">
                    </td>
                </tr>
                <tr>
                    <td style="width:100%;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <div style="color:#ff7b00;font-size:110%;font-weight:bold;padding:0 0 2px 0;margin:0">
                            Travel Insurance
                        </div>
                        <div style="line-height:1.0em;padding:0 0 4px 0;margin:0.0em;font-size:12px">
                            Don't risk travelling without insurance!  Get covered now with our great value cover!
                        </div>
                        <div style="line-height:1.0em;padding:0;margin:0px;font-size:12px">
                            <a href="http://www.easyjet.com/redirect.asp?t=TRAVELINSURANCE&amp;l=EN" target="_blank">Quote me now!</a>
                        </div>
                    </td>
                    <td style="width:35px;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <img src="https://ci3.googleusercontent.com/proxy/yewWrndzJuFneZW4VrAsPlgRf6z3-OQmPScHoErQCDCKokOGR2aXmhdqjjlC94xCQvdDhE9AW0qzztyK02GWpQYFr8NzBvCc3DlXDwTKgo9qvIDM44VUDpS7_tQA8tdz=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/anc_trav_insurance.png" alt="Travel Insurance">
                    </td>
                </tr>
                <tr>
                    <td style="width:100%;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <div style="color:#ff7b00;font-size:110%;font-weight:bold;padding:0 0 2px 0;margin:0">
                            easyJet <i>Plus!</i> 
                        </div>
                        <div style="line-height:1.0em;padding:0 0 4px 0;margin:0.0em;font-size:12px">
                            Faster through the gate with Speedy Boarding for a year
                        </div>
                        <div style="line-height:1.0em;padding:0;margin:0px;font-size:12px">
                            <a href="http://plus.easyjet.com?language=EN" target="_blank">Buy now</a>
                        </div>
                    </td>
                    <td style="width:35px;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <img src="https://ci6.googleusercontent.com/proxy/a8XbmezQoZCTkr3BdMheX10lFTEhvxAVf4QOUK-BuB-HLJahS2K7ZWzMBDeKAlCn1ZXXzBqIyWt6DTtnVoWhRy0bdfZ8FcBj6mRZ5uABSPOwesp_EcMEICoGQIhDbA=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/anc_easyjet_plus.gif" alt="easyJet <i>Plus!</i> ">
                    </td>
                </tr>
                <tr>
                    <td style="width:100%;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <div style="color:#ff7b00;font-size:110%;font-weight:bold;padding:0 0 2px 0;margin:0">
                            Airport Parking
                        </div>
                        <div style="line-height:1.0em;padding:0 0 4px 0;margin:0.0em;font-size:12px">
                            Parking from just £2.99 per day.  Book early and save 60%
                        </div>
                        <div style="line-height:1.0em;padding:0;margin:0px;font-size:12px">
                            <a href="http://www.easyjet.com/redirect.asp?t=PARK&amp;l=en" target="_blank">Pre-book your parking now</a>
                        </div>
                    </td>
                    <td style="width:35px;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <img src="https://ci6.googleusercontent.com/proxy/B2-HCYQsGnaOLGRw0rwWMsDIdt_zeyWv6du89dUfa1d2PiHWcAI9wITRs2gxo2RGjq4jnU8bVAwVJmFGbvvjeQQ-9-ZnSyu60YJXqtnrXOWetv_45yVZLuo=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/anc_parking.gif" alt="Airport Parking">
                    </td>
                </tr>
                <tr>
                    <td style="width:100%;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <div style="color:#ff7b00;font-size:110%;font-weight:bold;padding:0 0 2px 0;margin:0">
                            Resort and City Transfers
                        </div>
                        <div style="line-height:1.0em;padding:0 0 4px 0;margin:0.0em;font-size:12px">
                            Fix your price now for your resort and city transfers from just £3.00 per person
                        </div>
                        <div style="line-height:1.0em;padding:0;margin:0px;font-size:12px">
                            <a href="http://www.holidaytaxis.com/resorts/index.php?identifier=CDG&amp;ref=EZY&amp;source=Confirmation" target="_blank">Pre-book your transfers now</a>
                        </div>
                    </td>
                    <td style="width:35px;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <img src="https://ci4.googleusercontent.com/proxy/VW3YEUzwOsStn8jic4251vH-nDqUwTOLnVTMaAB3QXDJz4Xn1FLppN_W6rzmYwnJGkJr-E9gM5-24P1X9ItogEtXOC3co1ojUH6LlxYRtwpTNIFwL7A=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/anc_taxi.jpg" alt="Resort and City Transfers">
                    </td>
                </tr>
                <tr>
                    <td style="width:100%;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <div style="color:#ff7b00;font-size:110%;font-weight:bold;padding:0 0 2px 0;margin:0">
                            Airport Transfers
                        </div>
                        <div style="line-height:1.0em;padding:0 0 4px 0;margin:0.0em;font-size:12px">
                            Convenient and time saving airport transfers from just £2.00 per person
                        </div>
                        <div style="line-height:1.0em;padding:0;margin:0px;font-size:12px">
                            <a href="https://airporttransfers.easyjet.com/en/transfers/BCN/CDG" target="_blank">Pre-book your transfers now</a>
                        </div>
                    </td>
                    <td style="width:35px;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <img src="https://ci5.googleusercontent.com/proxy/LoTGIcwCLp1oQ0iXNofoLJthWyOHOPMrflHvtk-RDBw1pv8bTQpxci9UV-TUS6fMZ1J1V2xMjX9DWFKoAe9PqrDcHRRhMKKHF5ivc0mPt1kIYbXWiLyh=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/anc_buses.gif" alt="Airport Transfers">
                    </td>
                </tr>
                <tr>
                    <td style="width:100%;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <div style="color:#ff7b00;font-size:110%;font-weight:bold;padding:0 0 2px 0;margin:0">
                            Airport Lounges
                        </div>
                        <div style="line-height:1.0em;padding:0 0 4px 0;margin:0.0em;font-size:12px">
                            Rest and relax before your flight with free drinks and snacks from just £12.50 per person
                        </div>
                        <div style="line-height:1.0em;padding:0;margin:0px;font-size:12px">
                            <a href="http://lounges.easyjet.com/EN/?agent=wf670" target="_blank">Reserve your lounge now</a>
                        </div>
                    </td>
                    <td style="width:35px;border-top:1px solid #ccc;margin-top:4px;text-align:left;padding:5px">
                        <img src="https://ci6.googleusercontent.com/proxy/0v7M76OyXYYYDqb0UR43lEBLUQPAliIeDDKo4Z8D0XsUH8Ip8XLTYgENtYN9ht8bN6wcM-zg_BbyAZU0da7l_0TfHPafTTCdpa7h6JR-f_clOePE_1D_ZEI=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/anc_lounges.gif" alt="Airport Lounges">
                    </td>
                </tr>
    </tbody></table>

                </td>
            </tr>
            </tbody></table>
            
            <br>
            




            


        </td>

        <td style="width:225px;padding-left:3px;padding-right:3px;vertical-align:top;text-align:left;float:left" align="left">
            

            <table style="width:225px;border-spacing:0px;text-align:left;float:left" border="0" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td style="width:225px;vertical-align:top;float:left">
            
                        <table style="border-spacing:0px" border="0" cellspacing="0">

                            <tbody><tr>
                                <td style="height:23px;font-size:15px;font-weight:bold;padding:0px;margin:0px;text-align:left;vertical-align:top">
                                    <b>Payments</b>
                                </td>
                            </tr>

 
                            

                            <tr>
                                <td style="text-align:left;padding:0px;margin:0px;vertical-align:top">
                                    
              

<table style="border:solid 1px #cccccc;font-size:12px">
    
        <tbody><tr>    
            <td style="width:65px;vertical-align:top;font-size:90%">  
                16/02/2014
            </td>
            <td style="width:170px;font-size:12px">  
                <b>$174.64</b> has been charged to your Visa Debit card ending 9592.
            </td>
        </tr>
    
    
        <tr><td colspan="2"><a href="http://www.easyjet.com/en/Booking/Receipt?ref=EMCGR8F" target="_blank">Email me a payment confirmation (PDF)</a></td></tr>
</tbody></table> 
                                </td>
                            </tr>
 
                            
                            <tr>
                                <td colspan="2" style="padding-bottom:6px">
                                  
                                </td>
                            </tr>
                         
                            <tr>
                                <td style="height:23px;font-size:109%;font-weight:bold;padding:0px;margin:0px;text-align:left;vertical-align:top">
                                    <b>Your confirmed itinerary</b>
                                </td>
                            </tr>
 
 
  
                            
                
                            <tr>
                                <td style="vertical-align:top;border:1px solid #bbb;border-bottom:0px;padding:0px;margin:0px;text-align:left">
                                    
    <table style="text-align:left;border-spacing:0px;font-size:12px" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td style="width:30px;vertical-align:top">
            <img alt="Passengers" src="https://ci4.googleusercontent.com/proxy/I_Io7CmPr_Q3jh4tV4FHIeZKiX-BXtewkex-czAn6uy7aggfkQlkkkx5X31qtWcEqJBTJOBdDvwjMJDq_y0n7oQQ_PZxfQ3XprDn_YIDqLoGzdFT-rAGlikbUZmQOA=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/28x28/passengers.gif">
        </td>
        <td rowspan="1" style="padding-left:5px;padding-right:5px;padding-bottom:5px;text-align:left;vertical-align:top">
            <table cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td style="font-size:16px;padding-bottom:5px;vertical-align:top">

                        <b>Passengers</b>

                    </td>
                </tr>
                <tr>
                    <td style="font-size:12px;padding-bottom:1px;text-align:left;vertical-align:top">
                        Mr <span class="il">JAMES</span> <span class="il">WATSON</span>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:12px;padding-bottom:1px;text-align:left;vertical-align:top">
                        Ms JENNIFER WU
                    </td>
                </tr>
            </tbody></table>                                                  
        </td>
    </tr>
    
   </tbody></table>

                                </td>
                            </tr>
 


                            

                            <tr>
                                <td style="border:1px solid #bbb;border-bottom:0px;padding:0px;margin:0px;text-align:left">
                                    
    <table style="font-size:12px" border="0" cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td style="width:30px;vertical-align:top">
                    <img src="https://ci4.googleusercontent.com/proxy/P7W_M86MjyDuqYpsgXVOO9Ud3dH5qHRpHyC37oim9keXqjqTyF-7YNh8f7Lt9dXks8z9koFEKqH5978ghdSNeg4hHuM3xoVu8y-js82M1zERF4kVvuzw5dNSDTugCA=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/28x28/flight_out.gif" alt="Barcelona (Terminal 2C) to Paris Charles de Gaulle (Terminal 2D)">
                </td>
                <td style="font-size:16px;padding-left:5px;text-align:left">
                    <b>
                        <span class="il">Barcelona</span> (Terminal 2C) to <span class="il">Paris</span> Charles de Gaulle (Terminal 2D)
                        
                        
                    </b>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td style="padding-left:5px;padding-top:5px;text-align:left;font-size:12px">
                    Dep <b>27 June 2014</b>
                    15:55
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td style="padding-left:5px;text-align:left;font-size:12px">
                    Arr <b>27 June 2014</b>
                    17:55
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td style="padding-left:5px;text-align:left;font-size:12px">
                    Flight 3920      
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td style="padding-left:5px;text-align:left;font-size:12px">
                    Bag drop opens 27 June 2014 13:55
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid #bbb;padding-bottom:5px;font-size:12px">
                    &nbsp;
                </td>
                <td style="border-bottom:1px solid #bbb;padding-left:5px;padding-bottom:5px;text-align:left;font-size:12px">
                    Bag drop closes 27 June 2014 15:15
                </td>
            </tr>
                <tr>
                    <td colspan="2" style="border-bottom:1px solid #bbb">
                        <table style="text-align:left;border-spacing:0px;font-size:12px" border="0" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td style="width:30px;vertical-align:top">
                                    <img src="https://ci3.googleusercontent.com/proxy/JNyZK39PlrVGj0rmZ66NEgnhLHsunpllfw1SrB3xitdF4GUGKVDyAnOAO3kJlirk2w6n9muTF9-TNeCT_hW7dpQ6lL9Gsrp03icFOtmIBG4KVjDTbt9JXtF-GVo7IOIj1cGzww=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/28x28/basketSeat_right.png" alt="">
                            </td>
                            <td style="padding-left:5px;padding-right:5px;text-align:left;padding-bottom:5px;vertical-align:top">
                                <table cellpadding="0" cellspacing="0">
                                <tbody><tr>
                                    <td style="font-size:16px;padding-bottom:5px;vertical-align:top">
                                        <b>Seats</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:12px">
                                        6E, 6F
                                    </td>
                                </tr>
                                    <tr>
                                        <td style="padding-top:5px;padding-right:5px;padding-bottom:5px;text-align:left;font-size:12px">
                                                <a href="https://www.easyjet.com/EN/SeatChange/ChangeSeats?bookingReference=EMCGR8F&amp;returnUrl=%2fEN%2fMyEasyjet%2fViewBooking%2fEMCGR8F" target="_blank">Change seats</a>
                                        </td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                        </tbody></table>
                    </td>
                </tr>
    </tbody></table>

                                </td>
                            </tr>


                            


                            
                              
                  



                           



                            

                


                            

                                <tr>
                                    <td style="vertical-align:top;border:1px solid #bbb;border-top:0px;padding:0px;margin:0px;text-align:left">
                                        
 
            
    <table style="font-size:12px" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td style="width:30px">
            <img alt="" src="https://ci6.googleusercontent.com/proxy/PljL_hCYZJp95E76ynxC3oMAQPyCbRpm17SXeWqlTULgZtNX9Kq2UqVqdzq63OV5w8JRr--Eo_6U_b3rYjAMuWl3r_f_Tj7ctxLQZwMnidNkxsOV-BBoXK7gvqGu_X88vnAG=s0-d-e1-ft#http://www.easyjet.com/Content/Images/easyJetImages/28x28/disabled-symbol.gif">
        </td>
        <td style="font-size:16px;padding-left:5px;text-align:left;margin-bottom:1px">
            <b>Specific needs and access requirements.</b>
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
        <td style="text-align:left;height:12px;padding-left:5px;padding-bottom:5px;padding-top:6px">

                <div style="padding:0px;margin:0px;font-size:12px;margin-bottom:5px">Please inform us of any specific needs or access requirements by adding a requirement to your booking no later than 48 hours before the scheduled departure of the flight.</div>

                <div style="margin-top:8px;font-size:12px">Passengers with specific requirements should check in no later than 90 minutes before the scheduled departure time.</div>
            


        </td>
    </tr>
        <tr>
            <td style="width:30px">
                &nbsp;
            </td>
            <td style="padding-left:5px;padding-top:5px;padding-right:5px;padding-bottom:5px;text-align:left;font-size:12px">
                <a href="https://www.easyjet.com/en/MyEasyJet/ViewBooking/EMCGR8F" target="_blank">Special Service Request</a> 
            </td>
        </tr>
    </tbody></table>
                                    </td>
                                </tr>
 


                            




                            

                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>

        </td>
    </tr>
    
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-size:0.9em">
            
           
           
    <div style="margin-top:6px;padding:0px;margin:2px 0 5px 0;font-weight:bold;font-size:17px;color:#838383;text-align:left">Useful information</div>

    <div style="color:#009;font-weight:bold;padding:0px;text-align:left;font-size:11px">Checking in</div>
    <p style="padding:0px;margin:0 0 0.5em 0;color:#666;text-align:left;font-size:11px">easyJet is a ticket less airline, all you need to check in is your valid passport. You don’t need to contact us to reconfirm.</p>
        
    <p style="padding:0px;margin:0 0 0.5em 0;color:#666;text-align:left;font-size:11px"><b>Online check-in</b> becomes available 30 days before the scheduled departure of the first flight on your booking. Any subsequent flights on the booking taking place within 30 days from your first flight will also be available for online check-in. Online check-in closes 2 hours before the scheduled departure of the flight.</p>


    <p style="padding:0px;margin:0 0 0.5em 0;color:#666;text-align:left;font-size:11px"><a href="http://www.easyjet.com/en/terms_and_conditions.html#a12" target="_blank">Approved photographic ID</a> is required on all flights, including domestic services.</p>

        
    <div style="color:#009;font-weight:bold;padding:0px;text-align:left;font-size:11px">Packing</div>
    <p style="padding:0px;margin:0 0 0.5em 0;color:#666;text-align:left;font-size:11px">Take care when packing your bags. No dangerous goods may be carried in baggage and certain items may only be carried in certain parts of the aircraft. Ensure that you comply with our <a href="http://www.easyjet.com/en/terms_and_conditions.html#a20" target="_blank">hand and hold baggage regulations</a> at all times.</p>

        
    <div style="padding:0px;margin:0 0 0.5em 0;color:#666;text-align:left;font-size:11px;font-weight:bold">Conditions of contract</div>
    <p style="padding:0px;margin:0 0 0.5em 0;color:#666;text-align:left;font-size:11px">Carriage is subject to the applicable tariffs, <a href="http://www.easyjet.com/en/terms_and_conditions.html" target="_blank">terms and conditions</a>, and <a href="http://www.easyjet.com/en/terms_and_conditions.html" target="_blank">related regulations</a> which are available on this site or free of charge on application at the office or carrier. Carriage hereunder is subject to the rules and limitations relating to liability established by the Montreal Convention.</p>

        
    <div style="padding:0px;margin:0 0 0.5em 0;color:#666;text-align:left;font-size:11px;font-weight:bold">Important notice</div>
    <p style="padding:0px;margin:0 0 0.5em 0;color:#666;text-align:left;font-size:11px">If the passenger’s journey involves an ultimate destination or stop in a country other than the country of departure, the Montreal Convention may be applicable and the convention governs and in most cases limits the liability of carriers for death or personal injury and in respect of loss or damage to baggage.</p>




        </td>
    </tr>
<tr>
    <td>
        &nbsp;
    </td>
</tr>
<tr>
    <td colspan="2" style="font-size:0.9em">
        <p style="text-align:center;font-size:10px">1997-2014 easyJet airline company ltd. All rights reserved</p>
    </td>
</tr>
</tbody></table>

</center><div class="yj6qo"></div><div class="adL">
       



    
        
        </div><div class="adL">               
                
                    
                    <div>
                        
                        

                        
                        <div>
                            
                        </div>

                        
                        <div>
                            

                            
                            <div>
                                
                                
                            </div>

                            
                            <div>
                                
                                
                            </div>
                            
                             

                            
                            
                            
                            <div>
                                
                                
                            </div>
                            
                            

                            
                            
                        </div>

                        
                        
                    </div>
        </div><div class="adL">
        
        </div><div class="adL">               
                
                    
                    <div>
                        
                        

                        
                        <div>
                            
                        </div>

                        
                        <div>
                            

                            
                            <div>
                                
                                
                            </div>

                            
                            <div>
                                
                                
                            </div>
                            
                             

                            
                            
                            
                            <div>
                                
                                
                            </div>
                            
                            

                            
                            
                        </div>

                        
                        
                    </div>
        </div><div class="adL">

</div></div>

		</div>
	</div>
</div>