<div class="panel panel-default">
	<div class="panel-heading">
		<div> 
		<h3 style="text-align:left;">Jenny's Barcelona Flight Details
		<span style="float:right;"><%= link_to "Back", root_path%> </span></h3>
		</div>
	</div>
	<div class="panel-body">
		<div align="center">
<div style="margin:0px;padding:0px;font-family:arial;background-color:rgb(255,255,255)">
  
  <table style="margin:0px;padding:0px;border:0px currentColor;font-family:arial;background-color:rgb(255,255,255)" border="0" cellspacing="0" cellpadding="0" width="100%" height="100%">
   <tbody><tr>
    <td valign="top" align="center">
     <table style="background:rgb(255,255,255);margin:0px;padding:0px;width:580px;font-family:arial" border="0" cellspacing="0" cellpadding="0">
      <tbody><tr>
       <td style="padding-top:20px;padding-right:10px;padding-left:10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="text-align:left;font-size:0px" valign="top"><a title="Booking.com" href="http://www.booking.com/index.html" target="_blank">
<img style="border:currentColor;text-decoration:none" alt="Booking.com" src="https://ci4.googleusercontent.com/proxy/cjxyI2yaMM6vZsusAH4KLQ0T24Fng0rTZBFFRl-Gr8T8dw8e36xrZyMuZwx7IzHitt3v4juO_R7HrIuU8yxgcYfkJ2K9ZTUN_2NHpAstkl0=s0-d-e1-ft#http://r.bstatic.com/static/img/conf_email/logo_medium.gif" width="160" height="28">
</a></td>
          <td style="text-align:right;color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px;vertical-align:middle" valign="middle"><a href="http://www.booking.com/general.html?tmpl=doc/rate_guarantee&amp;via_bpg_link;pbsource=conf_email_bpg" target="_blank"><img style="border:currentColor;padding-right:5px;vertical-align:middle" src="https://ci4.googleusercontent.com/proxy/gtkKUHpeW3duqSTaE3ZWATY9iMXf7eyJpVx8VSHNXWudi4940WUWDrEjYD7uF5I3wZvIxzfsdZwh7WWAiGQM_xQD32qytNMBTUQzE34=s0-d-e1-ft#http://r.bstatic.com/static/img/conf_email/congrats.gif">Best Price Guaranteed</a></td>

         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding:20px 10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="text-align:left;color:rgb(0,53,128);line-height:22px;font-family:arial;font-size:18px;font-weight:bold" valign="top">
Thanks, James! Your reservation is now confirmed.
</td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-right:10px;padding-bottom:20px;padding-left:10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:21px;font-family:arial;font-size:16px;vertical-align:middle" valign="middle"><a style="color:rgb(8,150,255);padding-right:3px;text-decoration:none" title="Hotel info" href="https://secure.booking.com/app_redirect.html?page=hotel;id=443535;lang=en-us" target="_blank"><b>Hôtel de Sèze</b></a>
<span style="color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px;vertical-align:middle;white-space:nowrap">
<img style="vertical-align:middle" alt="An outstanding value on these dates.
" src="https://ci3.googleusercontent.com/proxy/BFshdkNebmdaMdhWEQipLT-3C54EjJEzoIuV4r5TkbIrKj_hEFW7z-LaqsrZWY-9yw0Yo5smpQmfdMXB7vQ1g_EW39GltjvNFXmFi-kmhQ=s0-d-e1-ft#http://q.bstatic.com/static/img/smart-deal-email-conf.gif" width="25" height="25">Value Deal 
</span></td>
         </tr>
         <tr>
          <td style="text-align:left;padding-top:5px" valign="top">
           <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
             <td style="text-align:left" valign="top" width="100"><img style="border:currentColor;text-decoration:none;display:block" border="0" alt="Hotel info" src="https://ci4.googleusercontent.com/proxy/wNGkZyExvqHSvoQuCrLgNp3v9vrtXW_NKa5UHksMFl0aKe7g5xNNNT_XbDq6qi1e9OqxjNgrR3-HMmpkNQs9o1Igy0GwfvR7OhlIyaBsonfqbqw=s0-d-e1-ft#http://www.booking.com/images/hotel/square90/120/12061526.jpg" width="90" height="90"></td>

             <td style="text-align:left;color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px" valign="top">
              <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
               <tbody><tr>
                <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-right:10px;font-family:arial;font-size:12px" valign="top"><b>Address:</b></td>
                <td style="text-align:left;color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px" valign="top"><span>23, allées de Tourny</span><br><span>Bordeaux</span>, <span>33000</span>,
<span>France</span></td>
               </tr>
               <tr>
                <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-right:10px;font-family:arial;font-size:12px" valign="top"><b>Phone:</b></td>
                <td style="text-align:left;color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px" valign="top"><span><a href="tel:%2B33556141616" value="+33556141616" target="_blank">+33556141616</a></span></td>

               </tr>
               <tr>
                <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-right:10px;font-family:arial;font-size:12px" valign="top"><b>Email:</b></td>
                <td style="text-align:left;color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px" valign="bottom"><a href="mailto:concierge@hotel-de-seze.com" target="_blank"><span>concierge@hotel-de-seze.com</span></a></td>

               </tr>
               <tr>
                <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-right:10px;font-family:arial;font-size:12px" valign="top"><b>Getting there:</b></td>
                <td style="text-align:left;color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px" valign="bottom"><a href="http://www.booking.com/directions.en-us.html?id=458269113" target="_blank">Show directions</a></td>

               </tr>
              </tbody></table>
             </td>
            </tr>
           </tbody></table>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding:5px 10px 20px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td valign="top" width="49%"><a style="text-decoration:none;display:block" href="https://secure.booking.com/myreservations.en-us.html?bn=458269113;pincode=4689;source=conf_email;pbsource=conf_email_modify" target="_blank"><table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">

             <tbody><tr>
              <td style="background:rgb(8,150,255);padding:7px 3px;border-radius:2px" valign="top" align="center">
               <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                 <td style="text-align:left" valign="middle" width="24"><a href="https://secure.booking.com/myreservations.en-us.html?bn=458269113;pincode=4689;source=conf_email;pbsource=conf_email_modify" target="_blank"><img style="border:currentColor;text-decoration:none;display:block" src="https://ci4.googleusercontent.com/proxy/rpB7VYo9L7GhID_EkdkC_ueC6HbgD5Y25CcBUoAyGpgRoBClyANf9eyU9igOiqqUEa3U7OoNahPcGX8Rma1jJ_zvqh2QkRIr=s0-d-e1-ft#http://q.bstatic.com/static/img/conf_email/cog.gif" width="19" height="19"></a></td>

                 <td style="text-align:left;color:rgb(51,51,51);line-height:19px;font-family:arial;font-size:14px" valign="middle"><a style="color:rgb(255,255,255);text-decoration:none" href="https://secure.booking.com/myreservations.en-us.html?bn=458269113;pincode=4689;source=conf_email;pbsource=conf_email_modify" target="_blank">Manage your booking</a></td>

                </tr>
               </tbody></table>
              </td>
             </tr>
            </tbody></table></a></td>
          <td>&nbsp;</td>
          <td valign="top" width="49%"><a style="text-decoration:none;display:block" href="https://secure.booking.com/confirmation.en-us.html?bn=458269113;pincode=4689&amp;label=conf_email_print;pbsource=conf_email_print" target="_blank"><table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">

             <tbody><tr>
              <td style="background:rgb(8,150,255);padding:7px 3px;border-radius:2px" valign="top" align="center">
               <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                 <td style="text-align:left" valign="middle" width="24"><a href="https://secure.booking.com/confirmation.en-us.html?bn=458269113;pincode=4689&amp;label=conf_email_print;pbsource=conf_email_print" target="_blank"><img style="border:currentColor;text-decoration:none;display:block" src="https://ci6.googleusercontent.com/proxy/qVhWTDXYziHjrUxrNJlIAEiQ3EHVli6Zxaow7j-EPLrrJUwaJ8SAXYglzKcr1xE2ms-z9BSpeanit9U-CLcx0uIN4dy7NAdydhU=s0-d-e1-ft#http://r.bstatic.com/static/img/conf_email/print.gif" width="19" height="19"></a></td>

                 <td style="text-align:left;color:rgb(51,51,51);line-height:19px;font-family:arial;font-size:14px" valign="middle"><a style="color:rgb(255,255,255);text-decoration:none" href="https://secure.booking.com/confirmation.en-us.html?bn=458269113;pincode=4689&amp;label=conf_email_print;pbsource=conf_email_print" target="_blank"><span style="white-space:nowrap">Print confirmation</span></a></td>

                </tr>
               </tbody></table>
              </td>
             </tr>
            </tbody></table></a></td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-right:10px;padding-bottom:20px;padding-left:10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(170,170,170);border-bottom-width:1px;border-bottom-style:dotted" valign="top">
<b>Your reservation</b></td>
          <td style="text-align:right;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(170,170,170);border-bottom-width:1px;border-bottom-style:dotted" valign="top">

3 nights,
1 room
</td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(170,170,170);border-bottom-width:1px;border-bottom-style:dotted" valign="top">
<b>Check-in</b></td>
          <td style="text-align:right;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(170,170,170);border-bottom-width:1px;border-bottom-style:dotted" valign="top">
<u></u><span class="aBn" data-term="goog_1141496899" tabindex="0"><span class="aQJ">Wednesday, July 2, 2014</span></span><u></u>
<span style="color:rgb(119,119,119);white-space:nowrap">
(from <span class="aBn" data-term="goog_1141496900" tabindex="0"><span class="aQJ">3:00&nbsp;PM</span></span>)
</span></td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(170,170,170);border-bottom-width:1px;border-bottom-style:dotted" valign="top">
<b>Check-out</b></td>
          <td style="text-align:right;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(170,170,170);border-bottom-width:1px;border-bottom-style:dotted" valign="top">
<u></u><span class="aBn" data-term="goog_1141496901" tabindex="0"><span class="aQJ">Saturday, July 5, 2014</span></span><u></u>
<span style="color:rgb(119,119,119);white-space:nowrap">
(until <span class="aBn" data-term="goog_1141496902" tabindex="0"><span class="aQJ">12:00&nbsp;PM</span></span>)
</span></td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(170,170,170);border-bottom-width:1px;border-bottom-style:dotted" valign="top">
<b>Booking number</b></td>
          <td style="text-align:right;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(170,170,170);border-bottom-width:1px;border-bottom-style:dotted" valign="top">
458269113</td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(170,170,170);border-bottom-width:1px;border-bottom-style:dotted" valign="top">
<b>PIN Code</b></td>
          <td style="text-align:right;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(170,170,170);border-bottom-width:1px;border-bottom-style:dotted" valign="top">
4689</td>
         </tr>
         <tr>
          <td style="border:0px currentColor;text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px" valign="top"><b>Booked by</b></td>
          <td style="border:0px currentColor;text-align:right;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px" valign="top"><span>James Watson</span> (<span><a href="mailto:james.s.watson.iv@gmail.com" target="_blank">james.s.watson.iv@gmail.com</a></span>)‎</td>

         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-right:10px;padding-bottom:20px;padding-left:10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="padding:15px;border:1px solid rgb(207,214,224);background-color:rgb(230,237,246)" valign="top">
           <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody><tr>
             <td style="text-align:left;color:rgb(0,53,128);line-height:17px;padding-top:2px;padding-bottom:2px;font-family:arial;font-size:12px" valign="top"><b>
1 Classic Double Room
</b></td>
            </tr>
            <tr>
             <td style="text-align:left;color:rgb(0,53,128);line-height:17px;padding-top:2px;padding-bottom:2px;font-family:arial;font-size:12px" valign="top"><b>VAT (10%) included</b></td>
            </tr>
            <tr>
             <td style="text-align:left;color:rgb(0,53,128);line-height:17px;padding-top:2px;padding-bottom:2px;font-family:arial;font-size:12px" valign="top"><b>City tax  included</b></td>
            </tr>
            <tr>
             <td style="text-align:left;color:rgb(0,53,128);line-height:22px;padding-top:5px;font-family:arial;font-size:18px;font-weight:bold" valign="top"><b>Total Price</b></td>
             <td style="text-align:right;color:rgb(0,53,128);line-height:21px;padding-top:5px;padding-left:5px;font-family:arial;font-size:16px" valign="top"><b style="white-space:nowrap">€ 564</b></td>
            </tr>
           </tbody></table>
           <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody><tr>
             <td>&nbsp;</td>
            </tr>
            <tr>
             <td style="text-align:left;color:rgb(51,51,51);line-height:15px;padding-bottom:5px;font-family:arial;font-size:11px" valign="top">
Please note: additional supplements (e.g. extra bed) are not added to this total.
</td>
            </tr>
            <tr>
             <td style="text-align:left;color:rgb(51,51,51);line-height:15px;padding-bottom:5px;font-family:arial;font-size:11px" valign="top">
The total price shown is the amount you will pay to the property. Booking.com does not charge any reservation, administration or other fees.
</td>
            </tr>
           </tbody></table>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding:10px 10px 20px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="text-align:left;color:rgb(0,53,128);line-height:24px;padding-bottom:10px;font-family:arial;font-size:22px" valign="top"><b>Hôtel de Sèze</b>
<span style="color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px;vertical-align:middle;white-space:nowrap">
<img style="vertical-align:middle" alt="An outstanding value on these dates.
" src="https://ci3.googleusercontent.com/proxy/BFshdkNebmdaMdhWEQipLT-3C54EjJEzoIuV4r5TkbIrKj_hEFW7z-LaqsrZWY-9yw0Yo5smpQmfdMXB7vQ1g_EW39GltjvNFXmFi-kmhQ=s0-d-e1-ft#http://q.bstatic.com/static/img/smart-deal-email-conf.gif" width="25" height="25">Value Deal 
</span></td>
         </tr>
         <tr>
          <td valign="top"><img style="border:currentColor;text-decoration:none;display:block" border="0" src="https://ci5.googleusercontent.com/proxy/OmEFSSgxLO1X5mvqWbDh-ZeXjGWBEKapXJnrKmcOu1gcUXtiCeOBmMZSNHPaurn_HJR9-m0LWnuJaXjovPC7HPDsYYPTIictkk94iOdulDppaQErXcrDpyjRh47VY3glM7bXp1yQ6jyG1sKZciZvp1lAcxPdFiMH09ydoROfFvdgj4vgFnRIbNoIQk8DkyOAJLkh6wn3eIlAI8oVQzv6g_DyiFXqRYmeIiQgDt33Zl_94nPoAoy8EUiVGFiZO6S2YDET5VFgUJoHi69uqkCA9ugq29FSPmLoq6X2wOE0j1sNd2ICR4k5NOkeC1bYflU=s0-d-e1-ft#http://maps.googleapis.com/maps/api/staticmap?center=44.84460064276372,-0.5763349682092667&amp;zoom=14&amp;size=580x185&amp;sensor=false&amp;language=en-us&amp;markers=color:0x0896FF%7C44.84460064276372,-0.5763349682092667&amp;googlemap.png" width="580" height="185"></td>

         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-right:10px;padding-bottom:20px;padding-left:10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="text-align:left;color:rgb(0,53,128);line-height:22px;padding-bottom:10px;font-family:arial;font-size:18px;font-weight:bold" valign="top">
Room Details
</td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-bottom:5px;font-family:arial;font-size:12px" valign="top">
Free Wi-Fi, LCD TV and safe feature in this air-conditioned room.
It is not possible to add an extra bed or crib in this room.
</td>
         </tr>
        </tbody></table>
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-right:20px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(211,211,211);border-bottom-width:1px;border-bottom-style:solid" valign="top">
<b>Guest name</b></td>
          <td style="width:70%;text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(211,211,211);border-bottom-width:1px;border-bottom-style:solid" valign="top">

James Watson
<a href="https://secure.booking.com/myreservations.en-us.html?bn=458269113;pincode=4689;source=email_changeInfo" target="_blank">Edit guest details</a></td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-right:20px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(211,211,211);border-bottom-width:1px;border-bottom-style:solid" valign="top">
<b>Number of guests</b></td>
          <td style="width:70%;text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(211,211,211);border-bottom-width:1px;border-bottom-style:solid" valign="top">

max. 2 people.
</td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-right:20px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(211,211,211);border-bottom-width:1px;border-bottom-style:solid" valign="top">
<b>Meal plan</b></td>
          <td style="width:70%;text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(211,211,211);border-bottom-width:1px;border-bottom-style:solid" valign="top">

Breakfast costs €&nbsp;23 per person per night.
</td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-right:20px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(211,211,211);border-bottom-width:1px;border-bottom-style:solid" valign="top">
<b>
Prepayment
</b></td>
          <td style="width:70%;text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(211,211,211);border-bottom-width:1px;border-bottom-style:solid" valign="top">

           <div style="color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px">
The total price of the reservation will be charged on the day of booking.
</div>
          </td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-right:20px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(211,211,211);border-bottom-width:1px;border-bottom-style:solid" valign="top">
<b>Cancellation policy</b></td>
          <td style="width:70%;text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(211,211,211);border-bottom-width:1px;border-bottom-style:solid" valign="top">

           <div style="color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px;margin-bottom:5px">
Please note, if canceled or modified, the total price of the reservation will be charged.In case of no-show, the total price of the reservation will be charged.
</div>
           <div style="color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px">
Any cancellation or modification fees are determined by the property. Additional costs will be paid to the property.
</div>
          </td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-right:20px;padding-bottom:5px;font-family:arial;font-size:12px" valign="top"><b>Cancellation cost</b></td>
          <td style="width:70%;text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px" valign="top">
           <ul style="margin:0px 0px 5px;padding:0px 0px 0px 15px;border:0px currentColor">
            <li><span style="white-space:nowrap">
EUR
564
</span></li></ul>
           <div style="color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px;font-style:italic">
This reservation can't be canceled free of charge.
</div>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-right:10px;padding-bottom:20px;padding-left:10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="padding:15px;text-align:left;background-color:rgb(15,66,123)" valign="top">
           <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody><tr>
             <td style="text-align:left;padding-top:1px" valign="top" width="25"><img style="border:currentColor;text-decoration:none;display:block" src="https://ci5.googleusercontent.com/proxy/AXlTCSmX6sa3BQsFylaBPyhS0a6YwCvhEqmAMaqzmO4e6pYbb081shfMAni5uAhx4ZV0QKh2B7GR8CGsZwvvK6dk8D0_Cot-qd6-MMkET90m8IxUrn4Q=s0-d-e1-ft#http://r.bstatic.com/static/img/conf_email/mg-mybooking-arrow.gif" width="15" height="15"></td>

             <td style="text-align:left;color:rgb(255,255,255);line-height:19px;font-family:arial;font-size:14px" valign="top"><a style="color:rgb(13,172,238)" href="https://secure.booking.com/myreservations.en-us.html?bn=458269113;pincode=4689;source=conf_email" target="_blank">View your booking</a>, <a style="color:rgb(13,172,238)" href="https://secure.booking.com/myreservations.en-us.html?bn=458269113;pincode=4689;pbsource=email_changeInfo" target="_blank">adjust guest details</a> or <a style="color:rgb(13,172,238)" href="https://secure.booking.com/myreservations.en-us.html?bn=458269113;pincode=4689;pbsource=email_changeRequests" target="_blank">add a special request</a> securely online.
</td>
            </tr>
           </tbody></table>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-right:10px;padding-bottom:20px;padding-left:10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="text-align:left;color:rgb(0,53,128);line-height:22px;padding-bottom:10px;font-family:arial;font-size:18px;font-weight:bold" valign="top">
Special Requests
</td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px" valign="top">
 Approximate time of arrival: between <span class="aBn" data-term="goog_1141496903" tabindex="0"><span class="aQJ">14:00 and 15:00</span></span> hours 
</td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-right:10px;padding-bottom:20px;padding-left:10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="text-align:left;padding-bottom:10px" valign="top">
           <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
             <td style="text-align:left" valign="middle" width="30"><img style="border:currentColor;text-decoration:none;display:block" src="https://ci6.googleusercontent.com/proxy/5z-8TP0j-lHi28kpYjgUokyu6KIhorby2-XEsvTDfGGBXPpIGXFjSfD2gCgJhLmfanvgEDiUqeBoZREB_DrVi3hBzv8wyiwKcty0FKbCgNYMnhw=s0-d-e1-ft#http://r.bstatic.com/static/img/conf_email/important_info.gif" width="24" height="24"></td>

             <td style="text-align:left;color:rgb(0,53,128);line-height:22px;font-family:arial;font-size:18px;font-weight:bold" valign="middle">
Important Information
</td>
            </tr>
           </tbody></table>
          </td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px" valign="top">
           <div style="color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px">Please note that only small pets are accepted.</div>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-right:10px;padding-bottom:20px;padding-left:10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="text-align:left;color:rgb(0,53,128);line-height:22px;padding-bottom:5px;font-family:arial;font-size:18px;font-weight:bold" valign="top">Payment</td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;font-family:arial;font-size:12px" valign="top">
           <div style="color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px;margin-bottom:5px">You have now confirmed and guaranteed your reservation by credit card.</div>
           <div style="color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px;margin-bottom:5px">All payments are to be made at the property during your stay, unless otherwise stated in the hotel policies or in the room conditions.</div>

           <div style="color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px">The hotel reserves the right to pre-authorize credit cards prior to arrival. </div>
          </td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;font-family:arial;font-size:12px" valign="top">
           <div><b>This property accepts the following forms of payment:</b></div>
           <div>
American Express, Visa, Euro/Mastercard
</div>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-right:10px;padding-bottom:20px;padding-left:10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="text-align:left;color:rgb(0,53,128);line-height:22px;padding-bottom:5px;font-family:arial;font-size:18px;font-weight:bold" valign="top">
Booking Conditions
</td>
         </tr>
         <tr>
          <td style="text-align:left" valign="top">
           <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody><tr>
             <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-right:20px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(211,211,211);border-bottom-width:1px;border-bottom-style:solid" valign="top">
<b>Guest parking</b></td>
             <td style="width:70%;text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(211,211,211);border-bottom-width:1px;border-bottom-style:solid" valign="top">

Public parking is available at a location nearby (reservation is not needed) and costs  EUR 23 per  day.
</td>
            </tr>
            <tr>
             <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-right:20px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(211,211,211);border-bottom-width:1px;border-bottom-style:solid" valign="top">
<b>Internet</b></td>
             <td style="width:70%;text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;padding-bottom:5px;font-family:arial;font-size:12px;border-bottom-color:rgb(211,211,211);border-bottom-width:1px;border-bottom-style:solid" valign="top">

WiFi is available in all areas and is free of charge.
</td>
            </tr>
           </tbody></table>
          </td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;padding-top:5px;font-family:arial;font-size:12px"><a href="https://secure.booking.com/confirmation.en-us.html?bn=458269113;pincode=4689;label=conf_email_see_all_policies" target="_blank">See all policies</a></td>

         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-right:10px;padding-bottom:20px;padding-left:10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="text-align:left;color:rgb(0,53,128);line-height:22px;padding-bottom:10px;font-family:arial;font-size:18px;font-weight:bold" valign="top">
Need help?
</td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px" valign="top">
           <div style="color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px;margin-bottom:5px">For any questions related to the property, you can contact Hôtel de Sèze directly at: <a href="tel:%2B33556141616" value="+33556141616" target="_blank">+33556141616</a> or <a href="mailto:concierge@hotel-de-seze.com" target="_blank">concierge@hotel-de-seze.com</a></div>

           <div style="color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px;margin-bottom:5px">
If you'd like to change or upgrade your reservation, visit <a href="https://secure.booking.com/myreservations.en-us.html?bn=458269113;pincode=4689;pbsource=conf_email_inline_mybooking" target="_blank">My Booking.com</a>.
</div>
           <div style="color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px;margin-bottom:5px">Our Customer Service team is also here to help. <a title="Your Reference ID is “--”" href="http://www.booking.com/general.html?tmpl=docs/customer_service;label=from_conf_email;pbsource=conf_email_inline_cs_message" target="_blank">Send us a message</a> or call us at:</div>

           <div><b>Support in English:</b> <span style="direction:ltr"><a href="tel:1%20%28888%29%20850%203958" value="+18888503958" target="_blank">1 (888) 850 3958</a></span><br><b>Support in Spanish:</b> <span style="direction:ltr"><a href="tel:1%20%28866%29%20938%201297" value="+18669381297" target="_blank">1 (866) 938 1297</a></span><br>
<b>When abroad or from France: </b><span style="direction:ltr"><a href="tel:%2B44%2020%203320%202609" value="+442033202609" target="_blank">+44 20 3320 2609</a><br></span></div>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-right:10px;padding-bottom:20px;padding-left:10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="text-align:left;color:rgb(0,53,128);line-height:22px;padding-bottom:10px;font-family:arial;font-size:18px;font-weight:bold" valign="top">Don't Forget</td>
         </tr>
         <tr>
          <td style="text-align:left;color:rgb(51,51,51);line-height:17px;font-family:arial;font-size:12px" valign="top">
           <div>
You can change or cancel your reservation via our online self-service tool My Booking.com:
</div>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-right:10px;padding-bottom:20px;padding-left:10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="padding:15px;background-color:rgb(0,160,228)">
           <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody><tr>
             <td style="text-align:left" valign="top" width="60%">
              <table border="0" cellspacing="0" cellpadding="0">
               <tbody><tr>
                <td style="text-align:left;color:rgb(255,255,255);line-height:19px;font-family:arial;font-size:14px" valign="top"><b>Get our free apps for paperless check-in</b></td>
               </tr>
               <tr>
                <td style="text-align:left;color:rgb(255,255,255);line-height:17px;font-family:arial;font-size:12px" valign="top">
Access this confirmation - even when you're offline!
</td>
               </tr>
              </tbody></table>
             </td>
             <td valign="middle" width="40%" align="center">
              <table border="0" cellspacing="0" cellpadding="0">
               <tbody><tr>
                <td style="text-align:left;padding-left:10px" valign="top"><a href="https://booking-ads.com/goapp?app=booking.iPhone;referrer=utm_source%3Dnn%253Abooking%26utm_medium%3Dos%253Aios_bs%253Aconfirmationemail_bu%253Ab" target="_blank"><img border="0" alt="Download on the Apple Store" src="https://ci3.googleusercontent.com/proxy/s-g-TT7zgwnC7FTvN_U2DLVJztbpeD1jXPCfAOxq8Mekqe8o1Xl-0M3f-kOfU2mls79WmenHrsnSZv2MEvK9QqsuEKBWind6m0LxvlgrQfLSNomIiDqT2s4Fi_80CmLMOxxEk33fQNQ8C-ixT813-__UKw=s0-d-e1-ft#http://r.bstatic.com/static/img/experiments/experiment_paperless_checkin_mobile_app_apple.png" width="135" height="40"></a></td>

                <td>&nbsp;</td>
                <td style="text-align:left" valign="top"><a href="https://play.google.com/store/apps/details?id=com.booking&amp;referrer=utm_source%3Dnn%253Abooking%26utm_medium%3Dos%253Aandroid_lang%253A_cc1%253A_bs%253Aconfirmationemail_bu%253Ab_bi%253A_dt%253A_ct%253A_ci%253A%26utm_campaign%3Dpubid%253A" target="_blank"><img border="0" alt="Get it on Google Play" src="https://ci4.googleusercontent.com/proxy/nqWCqJP6-3Rt_NSqgzvu5cgEd-NRK4Re0immFXww5NMB8lcgVHP9g1xBunhBJmKTlGkqtFIUKcFOyu0VDKaFdlB4p-pyNkkQrpxUywuVpQjCPA6gMYnTYMSQOg2doN5mhFSGwQ1ZbhgFDlEO14NOkLb7xW7DCmSBtgtKOHlh=s0-d-e1-ft#http://r.bstatic.com/static/img/experiments/experiment_paperless_checkin_mobile_app_google_nospacing.png" width="125" height="40"></a></td>

               </tr>
              </tbody></table>
             </td>
            </tr>
           </tbody></table>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding:5px 10px 20px;text-align:left;color:rgb(51,51,51);font-family:Georgia,Serif;font-style:italic" valign="top">
        <div style="line-height:21px;font-size:16px">Have a great trip!</div>
        <div style="line-height:18px;font-size:13px">Booking.com Customer Service Team</div>
       </td>
      </tr>
      <tr>
       <td style="padding:20px 10px" valign="top">
        <table style="margin:0px;padding:0px;border:0px currentColor" border="0" cellspacing="0" cellpadding="0" width="100%">
         <tbody><tr>
          <td style="color:rgb(104,116,133);line-height:15px;padding-top:15px;padding-bottom:10px;font-family:arial;font-size:11px;border-top-color:rgb(211,211,211);border-top-width:1px;border-top-style:solid" valign="top" align="center">

           <div>
Copyright © 1996–2014 Booking.com.
All rights reserved.<br>
This email was sent by Booking.com, Herengracht 597, 1017 CE Amsterdam, Netherlands
</div>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
     </tbody></table>
    </td>
   </tr>
  </tbody></table><div class="yj6qo"></div><div class="adL">
 </div></div>

		</div>
	</div>
</div>