<div class="panel panel-default">
	<div class="panel-heading">
		<div> 
		<h3 style="text-align:left;">Jenny's Barcelona Flight Details
		<span style="float:right;"><%= link_to "Back", root_path%> </span></h3>
		</div>
	</div>
	<div class="panel-body">
		<div align="center">
<div id=":4z" class="a3s" style="overflow: hidden;"><u></u>

 
  
  
  
 
 <div style="margin:0;padding:0;background-color:#fff;font-family:arial">
  
  <table border="0" cellpadding="0" cellspacing="0" height="100%" style="margin:0px;padding:0px;border:0px;margin:0;padding:0;background-color:#fff;font-family:arial" width="100%">
   <tbody><tr>
    <td align="center" valign="top">
     <table border="0" cellpadding="0" cellspacing="0" style="width:580px;margin:0;padding:0;background:#ffffff;font-family:arial">
      <tbody><tr>
       <td style="padding-top:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="text-align:left;font-size:0" valign="top"><a href="http://www.booking.com/index.html" title="Booking.com" target="_blank">
<img alt="Booking.com" height="28" src="https://ci4.googleusercontent.com/proxy/cjxyI2yaMM6vZsusAH4KLQ0T24Fng0rTZBFFRl-Gr8T8dw8e36xrZyMuZwx7IzHitt3v4juO_R7HrIuU8yxgcYfkJ2K9ZTUN_2NHpAstkl0=s0-d-e1-ft#http://r.bstatic.com/static/img/conf_email/logo_medium.gif" style="outline:none;text-decoration:none;border:none" width="160">
</a></td>
          <td style="text-align:right;font-family:arial;color:#333;font-size:12px;line-height:17px;vertical-align:middle" valign="middle"><a href="http://www.booking.com/general.html?tmpl=doc/rate_guarantee&amp;via_bpg_link" target="_blank"><img src="https://ci4.googleusercontent.com/proxy/gtkKUHpeW3duqSTaE3ZWATY9iMXf7eyJpVx8VSHNXWudi4940WUWDrEjYD7uF5I3wZvIxzfsdZwh7WWAiGQM_xQD32qytNMBTUQzE34=s0-d-e1-ft#http://r.bstatic.com/static/img/conf_email/congrats.gif" style="padding-right:5px;vertical-align:middle;outline:none;border:none">Best Price Guaranteed</a></td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-top:20px;padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="text-align:left;font-size:18px;line-height:22px;font-family:arial;color:#003580;font-weight:bold" valign="top">
Your modified booking is now confirmed
</td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="background-color:#feffe0;border:1px solid #d3d3d3;padding:15px" valign="top">
           <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
            <tbody><tr>
             <td style="text-align:left;font-size:18px;line-height:22px;font-family:arial;color:#003580;font-weight:bold" valign="top">
Your changes
</td>
            </tr>
            <tr>
             <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px" valign="top">
              <table cellpadding="0" cellspacing="0" style="line-height:17px">
               <tbody><tr>
                <td colspan="2" style="font-family:arial;color:#333;font-size:12px;line-height:17px;padding:.6em 0 0" valign="top"><b>
Deluxe Suite
for guest <u>Jenny Wu</u>
</b></td>
               </tr>
              </tbody></table>
             </td>
            </tr>
           </tbody></table>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="text-align:left;font-size:16px;line-height:21px;font-family:arial;color:#333;vertical-align:middle" valign="middle"><a href="https://secure.booking.com/app_redirect.html?page=hotel;id=408621;lang=en-us" style="color:#0896ff;text-decoration:none;padding-right:3px" title="Hotel info" target="_blank"><b><span class="il">Château</span> Bouvet Ladubay</b></a>
<span style="font-family:arial;color:#333;font-size:12px;line-height:17px;white-space:nowrap;vertical-align:middle">
<img alt="An outstanding value on these dates.
" height="25" src="https://ci3.googleusercontent.com/proxy/BFshdkNebmdaMdhWEQipLT-3C54EjJEzoIuV4r5TkbIrKj_hEFW7z-LaqsrZWY-9yw0Yo5smpQmfdMXB7vQ1g_EW39GltjvNFXmFi-kmhQ=s0-d-e1-ft#http://q.bstatic.com/static/img/smart-deal-email-conf.gif" style="vertical-align:middle" width="25">Value Deal 
</span></td>
         </tr>
         <tr>
          <td style="padding-top:5px;text-align:left" valign="top">
           <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px">
            <tbody><tr>
             <td style="text-align:left" valign="top" width="100"><img alt="Hotel info" border="0" height="90" src="https://ci4.googleusercontent.com/proxy/h9S9lGjPOFxWp8pFnTDaDXBvK8s_u9RrubUrIQKrTp_-vKHLQJxfoPsS8Z2NcEHM2XBY_eQIxF0zeaAzkz-5V0gq4tpUj-VupqSq85z243sCPw=s0-d-e1-ft#http://www.booking.com/images/hotel/square90/977/9772655.jpg" style="outline:none;text-decoration:none;border:none;display:block" width="90"></td>
             <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
               <tbody><tr>
                <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;padding-right:10px" valign="top"><b>Address:</b></td>
                <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px" valign="top"><span>6 Avenue Georges Thoreau</span><br><span>Saint-Hilaire-Saint-Florent -Saumur</span>, <span>49400</span>,
<span>France</span></td>
               </tr>
               <tr>
                <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;padding-right:10px" valign="top"><b>Phone:</b></td>
                <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px" valign="top"><span><a href="tel:%2B33675527739" value="+33675527739" target="_blank">+33675527739</a></span></td>
               </tr>
               <tr>
                <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;padding-right:10px" valign="top"><b>Email:</b></td>
                <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px" valign="bottom"><a href="mailto:contact@chateaubouvetladubay.com" target="_blank"><span>contact@chateaubouvetladubay.<wbr>com</span></a></td>
               </tr>
               <tr>
                <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;padding-right:10px" valign="top"><b>Getting there:</b></td>
                <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px" valign="bottom"><a href="http://www.booking.com/directions.en-us.html?id=603707692" target="_blank">Show directions</a></td>
               </tr>
              </tbody></table>
             </td>
            </tr>
           </tbody></table>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-top:5px;padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td valign="top" width="49%"><a href="https://secure.booking.com/myreservations.en-us.html?bn=603707692;pincode=7790;source=conf_email;pbsource=conf_email_modify" style="display:block;text-decoration:none" target="_blank"><table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
             <tbody><tr>
              <td align="center" style="padding:7px 3px;border-radius:2px;background:#0896ff;background:-moz-linear-gradient(top,#2da7ff 0%,#0082e0 100%);background:-webkit-linear-gradient(top,#2da7ff 0%,#0082e0 100%);background:-o-linear-gradient(top,#2da7ff 0%,#0082e0 100%);background:-ms-linear-gradient(top,#2da7ff 0%,#0082e0 100%);background:linear-gradient(to bottom,#2da7ff 0%,#0082e0 100%)" valign="top">
               <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px">
                <tbody><tr>
                 <td style="text-align:left" valign="middle" width="24"><a href="https://secure.booking.com/myreservations.en-us.html?bn=603707692;pincode=7790;source=conf_email;pbsource=conf_email_modify" target="_blank"><img height="19" src="https://ci4.googleusercontent.com/proxy/rpB7VYo9L7GhID_EkdkC_ueC6HbgD5Y25CcBUoAyGpgRoBClyANf9eyU9igOiqqUEa3U7OoNahPcGX8Rma1jJ_zvqh2QkRIr=s0-d-e1-ft#http://q.bstatic.com/static/img/conf_email/cog.gif" style="outline:none;text-decoration:none;border:none;display:block" width="19"></a></td>
                 <td style="text-align:left;font-size:14px;line-height:19px;font-family:arial;color:#333" valign="middle"><a href="https://secure.booking.com/myreservations.en-us.html?bn=603707692;pincode=7790;source=conf_email;pbsource=conf_email_modify" style="color:#fff;text-decoration:none" target="_blank">Manage your booking</a></td>
                </tr>
               </tbody></table>
              </td>
             </tr>
            </tbody></table></a></td>
          <td>&nbsp;</td>
          <td valign="top" width="49%"><a href="https://secure.booking.com/confirmation.en-us.html?bn=603707692;pincode=7790&amp;label=conf_email_print" style="display:block;text-decoration:none" target="_blank"><table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
             <tbody><tr>
              <td align="center" style="padding:7px 3px;border-radius:2px;background:#0896ff;background:-moz-linear-gradient(top,#2da7ff 0%,#0082e0 100%);background:-webkit-linear-gradient(top,#2da7ff 0%,#0082e0 100%);background:-o-linear-gradient(top,#2da7ff 0%,#0082e0 100%);background:-ms-linear-gradient(top,#2da7ff 0%,#0082e0 100%);background:linear-gradient(to bottom,#2da7ff 0%,#0082e0 100%)" valign="top">
               <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px">
                <tbody><tr>
                 <td style="text-align:left" valign="middle" width="24"><a href="https://secure.booking.com/confirmation.en-us.html?bn=603707692;pincode=7790&amp;label=conf_email_print" target="_blank"><img height="19" src="https://ci6.googleusercontent.com/proxy/qVhWTDXYziHjrUxrNJlIAEiQ3EHVli6Zxaow7j-EPLrrJUwaJ8SAXYglzKcr1xE2ms-z9BSpeanit9U-CLcx0uIN4dy7NAdydhU=s0-d-e1-ft#http://r.bstatic.com/static/img/conf_email/print.gif" style="outline:none;text-decoration:none;border:none;display:block" width="19"></a></td>
                 <td style="text-align:left;font-size:14px;line-height:19px;font-family:arial;color:#333" valign="middle"><a href="https://secure.booking.com/confirmation.en-us.html?bn=603707692;pincode=7790&amp;label=conf_email_print" style="color:#fff;text-decoration:none" target="_blank"><span style="white-space:nowrap">Print confirmation</span></a></td>
                </tr>
               </tbody></table>
              </td>
             </tr>
            </tbody></table></a></td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top"><b>Your reservation</b></td>
          <td style="text-align:right;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top">
1 night,
1 room
</td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top"><b>Check-in</b></td>
          <td style="text-align:right;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top"><u></u><span class="aBn" data-term="goog_1141496853" tabindex="0"><span class="aQJ">Tuesday, July 1, 2014</span></span><u></u>
<span style="color:#777777;white-space:nowrap">
(<span class="aBn" data-term="goog_1141496854" tabindex="0"><span class="aQJ">4:00&nbsp;PM - 7:00&nbsp;PM</span></span>)
</span></td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top"><b>Check-out</b></td>
          <td style="text-align:right;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top"><u></u><span class="aBn" data-term="goog_1141496855" tabindex="0"><span class="aQJ">Wednesday, July 2, 2014</span></span><u></u>
<span style="color:#777777;white-space:nowrap">
(<span class="aBn" data-term="goog_1141496856" tabindex="0"><span class="aQJ">8:30&nbsp;AM - 12:00&nbsp;PM</span></span>)
</span></td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top"><b>Booking number</b></td>
          <td style="text-align:right;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top">603707692</td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top"><b>PIN Code</b></td>
          <td style="text-align:right;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top">7790</td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top"><b>Booked by</b></td>
          <td style="text-align:right;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top"><span>Jenny Wu</span> (<span><a href="mailto:jenwu05@gmail.com" target="_blank">jenwu05@gmail.com</a></span>)‎</td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top"><b>Booking first made on</b></td>
          <td style="text-align:right;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top">Monday, April 21, 2014, 18:49:14 [CET]</td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px;border:0" valign="top"><b>Last modification made on</b></td>
          <td style="text-align:right;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px;border:0" valign="top">Thursday, April 24, 2014, 07:02:43 [CET]</td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="background-color:#e6edf6;border:1px solid #cfd6e0;padding:15px" valign="top">
           <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
            <tbody><tr>
             <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px;color:#003580" valign="top"><b>
Deluxe Suite
</b></td>
             <td style="text-align:right;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px;color:#003580" valign="top"><b style="white-space:nowrap">€ 168.22</b></td>
            </tr>
            <tr>
             <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;color:#003580;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px" valign="top"><b>VAT (7%) included</b></td>
             <td style="text-align:right;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px dotted #aaaaaa;padding-top:5px;padding-bottom:5px;color:#003580" valign="top"><b style="white-space:nowrap">
€ 11.78
</b></td>
            </tr>
            <tr>
             <td style="text-align:left;font-size:18px;line-height:22px;font-family:arial;color:#003580;font-weight:bold;padding-top:5px" valign="top"><b>Total Price</b></td>
             <td style="text-align:right;font-size:16px;line-height:21px;font-family:arial;color:#333;padding-top:5px;color:#003580;padding-left:5px" valign="top"><b style="white-space:nowrap">€ 180</b></td>
            </tr>
           </tbody></table>
           <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
            <tbody><tr>
             <td>&nbsp;</td>
            </tr>
            <tr>
             <td style="text-align:left;font-family:arial;color:#333;font-size:11px;line-height:15px;padding-bottom:5px" valign="top">
You'll pay when you stay at <span class="il">Château</span> Bouvet Ladubay
</td>
            </tr>
            <tr>
             <td style="text-align:left;font-family:arial;color:#333;font-size:11px;line-height:15px;padding-bottom:5px" valign="top">
City tax (€ 1.50 per person per night) not included
</td>
            </tr>
            <tr>
             <td style="text-align:left;font-family:arial;color:#333;font-size:11px;line-height:15px;padding-bottom:5px" valign="top">
Please note: additional supplements (e.g. extra bed) are not added to this total.
</td>
            </tr>
            <tr>
             <td style="text-align:left;font-family:arial;color:#333;font-size:11px;line-height:15px;padding-bottom:5px" valign="top">
The total price shown is the amount you will pay to the property. Booking.com does not charge any reservation, administration or other fees.
</td>
            </tr>
           </tbody></table>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-top:10px;padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="text-align:left;font-size:22px;line-height:24px;font-family:arial;color:#b0b0b0;color:#003580;padding-bottom:10px" valign="top"><b><span class="il">Château</span> Bouvet Ladubay</b>
<span style="font-family:arial;color:#333;font-size:12px;line-height:17px;white-space:nowrap;vertical-align:middle">
<img alt="An outstanding value on these dates.
" height="25" src="https://ci3.googleusercontent.com/proxy/BFshdkNebmdaMdhWEQipLT-3C54EjJEzoIuV4r5TkbIrKj_hEFW7z-LaqsrZWY-9yw0Yo5smpQmfdMXB7vQ1g_EW39GltjvNFXmFi-kmhQ=s0-d-e1-ft#http://q.bstatic.com/static/img/smart-deal-email-conf.gif" style="vertical-align:middle" width="25">Value Deal 
</span></td>
         </tr>
         <tr>
          <td valign="top"><img border="0" height="185" src="https://ci3.googleusercontent.com/proxy/g7z3AmBiFV5TV7kRW6m8EUL3qHjKXm4E5O2FHN1v1sl6c0S4cQc3tT7knXuWKNy-rpW2ZY7P4K2WsieWRLLuNdyRJYx65fAnlCPYBjZpExY7VrTsAEtuXafRkkZwhB52sSsnRqdBTLdIyW87-EQk3ebBy0BHZL3BB9gyEnYr20ry3jl9zLv3INykUKxHnVKOPJfEFyFM8Xz0iV48MB0RJTXOLAJsCPN-IBrd1XnkU1xeurFgGCVZw_Me_UXiOzg1dz7brkqasiY_pB9K6tV8IPiNvar8h-tswSnqonRenwqYUeGOYOJX59XD2C-_vrro2w=s0-d-e1-ft#http://maps.googleapis.com/maps/api/staticmap?center=47.26084703779746,-0.09954214096069336&amp;zoom=14&amp;size=580x185&amp;sensor=false&amp;language=en-us&amp;markers=color:0x0896FF%7C47.26084703779746,-0.09954214096069336&amp;googlemap.png" style="outline:none;text-decoration:none;border:none;display:block" width="580"></td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="text-align:left;font-size:18px;line-height:22px;font-family:arial;color:#003580;font-weight:bold;padding-bottom:10px" valign="top">
Room Details
</td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;padding-bottom:5px" valign="top">
Decorated with parquet flooring, this room features views of the park and the patio. It is complete with en suite bathroom. 
Additional features include a terrace with table and chairs and more space. 
</td>
         </tr>
        </tbody></table>
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px solid #d3d3d3;padding-top:5px;padding-bottom:5px;padding-right:20px" valign="top"><b>Guest name</b></td>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px solid #d3d3d3;padding-top:5px;padding-bottom:5px;width:70%" valign="top">
Jenny Wu
</td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px solid #d3d3d3;padding-top:5px;padding-bottom:5px;padding-right:20px" valign="top"><b>Number of guests</b></td>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px solid #d3d3d3;padding-top:5px;padding-bottom:5px;width:70%" valign="top">
max. 2 people.
</td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px solid #d3d3d3;padding-top:5px;padding-bottom:5px;padding-right:20px" valign="top"><b>Meal plan</b></td>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px solid #d3d3d3;padding-top:5px;padding-bottom:5px;width:70%" valign="top">
Breakfast is included in the room rate.
</td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px solid #d3d3d3;padding-top:5px;padding-bottom:5px;padding-right:20px" valign="top"><b>Cancellation policy</b></td>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px solid #d3d3d3;padding-top:5px;padding-bottom:5px;width:70%" valign="top">
           <div style="font-family:arial;color:#333;font-size:12px;line-height:17px;margin-bottom:5px">
If canceled or modified up to 5 days before date of arrival,  no fee will be charged.If canceled or modified later or in case of no-show, 30 percent of the total price of the reservation will be charged.
</div>
           <div style="font-family:arial;color:#333;font-size:12px;line-height:17px">
Any cancellation or modification fees are determined by the property. Additional costs will be paid to the property.
</div>
          </td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;padding-top:5px;padding-bottom:5px;padding-right:20px" valign="top"><b>Cancellation cost</b></td>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;padding-top:5px;padding-bottom:5px;width:70%" valign="top">
           <ul style="margin:0px;padding:0px;border:0px;padding-left:15px;margin-bottom:5px">
            <li>
Until <span class="aBn" data-term="goog_1141496857" tabindex="0"><span class="aQJ">June 25, 2014 11:59 PM</span></span> [Saumur]:
<span style="white-space:nowrap">
EUR
0
</span></li><li>
From <span class="aBn" data-term="goog_1141496858" tabindex="0"><span class="aQJ">June 26, 2014 12:00 AM</span></span> [Saumur]:
<span style="white-space:nowrap">
EUR
54
</span></li></ul>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="text-align:left;padding:15px;background-color:#0f427b" valign="top">
           <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
            <tbody><tr>
             <td style="text-align:left;padding-top:1px" valign="top" width="25"><img height="15" src="https://ci5.googleusercontent.com/proxy/AXlTCSmX6sa3BQsFylaBPyhS0a6YwCvhEqmAMaqzmO4e6pYbb081shfMAni5uAhx4ZV0QKh2B7GR8CGsZwvvK6dk8D0_Cot-qd6-MMkET90m8IxUrn4Q=s0-d-e1-ft#http://r.bstatic.com/static/img/conf_email/mg-mybooking-arrow.gif" style="outline:none;text-decoration:none;border:none;display:block" width="15"></td>
             <td style="text-align:left;font-size:14px;line-height:19px;font-family:arial;color:#333;color:#fff" valign="top">
You can easily change or cancel this booking for free before <span class="aBn" data-term="goog_1141496859" tabindex="0"><span class="aQJ">June 25, 2014</span></span> by visiting <a href="https://secure.booking.com/myreservations.en-us.html?bn=603707692;pincode=7790;source=conf_email" style="color:#0dacee" target="_blank">My Booking.com</a></td>
            </tr>
           </tbody></table>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="text-align:left;font-size:18px;line-height:22px;font-family:arial;color:#003580;font-weight:bold;padding-bottom:5px" valign="top">Payment</td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;padding-top:5px" valign="top">
           <div style="font-family:arial;color:#333;font-size:12px;line-height:17px;margin-bottom:5px">You have now confirmed and guaranteed your reservation by credit card.</div>
           <div style="font-family:arial;color:#333;font-size:12px;line-height:17px;margin-bottom:5px">All payments are to be made at the property during your stay, unless otherwise stated in the hotel policies or in the room conditions.</div>
           <div style="font-family:arial;color:#333;font-size:12px;line-height:17px">The hotel reserves the right to pre-authorize credit cards prior to arrival. </div>
          </td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;padding-top:5px" valign="top">
           <div><b>This property accepts the following forms of payment:</b></div>
           <div>
Visa, Euro/Mastercard
</div>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="text-align:left;font-size:18px;line-height:22px;font-family:arial;color:#003580;font-weight:bold;padding-bottom:5px" valign="top">
Booking Conditions
</td>
         </tr>
         <tr>
          <td style="text-align:left" valign="top">
           <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
            <tbody><tr>
             <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px solid #d3d3d3;padding-top:5px;padding-bottom:5px;padding-right:20px" valign="top"><b>Guest parking</b></td>
             <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px solid #d3d3d3;padding-top:5px;padding-bottom:5px;width:70%" valign="top">
Free private parking is available  on site (reservation is not needed).
</td>
            </tr>
            <tr>
             <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px solid #d3d3d3;padding-top:5px;padding-bottom:5px;padding-right:20px" valign="top"><b>Internet</b></td>
             <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;border-bottom:1px solid #d3d3d3;padding-top:5px;padding-bottom:5px;width:70%" valign="top">
Wi-Fi is available in public areas and is free of charge.
Wi-Fi is available in some hotel rooms and is free of charge.
</td>
            </tr>
           </tbody></table>
          </td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;padding-top:5px"><a href="https://secure.booking.com/confirmation.en-us.html?bn=603707692;pincode=7790;label=conf_email_see_all_policies" target="_blank">See all policies</a></td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="text-align:left;font-size:18px;line-height:22px;font-family:arial;color:#003580;font-weight:bold;padding-bottom:10px" valign="top">
Need help?
</td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px" valign="top">
           <div style="font-family:arial;color:#333;font-size:12px;line-height:17px;margin-bottom:5px">For any questions related to the property, you can contact <span class="il">Château</span> Bouvet Ladubay directly at: <a href="tel:%2B33675527739" value="+33675527739" target="_blank">+33675527739</a> or <a href="mailto:contact@chateaubouvetladubay.com" target="_blank">contact@chateaubouvetladubay.<wbr>com</a></div>
           <div style="font-family:arial;color:#333;font-size:12px;line-height:17px;margin-bottom:5px">
If you'd like to change or upgrade your reservation, visit <a href="https://secure.booking.com/myreservations.en-us.html?bn=603707692;pincode=7790" target="_blank">My Booking.com</a>.
</div>
           <div style="font-family:arial;color:#333;font-size:12px;line-height:17px;margin-bottom:5px">Our Customer Service team is also here to help. <a href="http://www.booking.com/general.html?tmpl=docs/customer_service;label=from_conf_email" title="Your Reference ID is “--”" target="_blank">Send us a message</a> or call us at:</div>
           <div><b>Support in English:</b> <span style="direction:ltr"><a href="tel:1%20%28888%29%20850%203958" value="+18888503958" target="_blank">1 (888) 850 3958</a></span><br><b>Support in Spanish:</b> <span style="direction:ltr"><a href="tel:1%20%28866%29%20938%201297" value="+18669381297" target="_blank">1 (866) 938 1297</a></span><br><b>When abroad or from France: </b><span style="direction:ltr"><a href="tel:%2B44%2020%203320%202609" value="+442033202609" target="_blank">+44 20 3320 2609</a><br></span></div>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="text-align:left;font-size:18px;line-height:22px;font-family:arial;color:#003580;font-weight:bold;padding-bottom:10px" valign="top">Don't Forget</td>
         </tr>
         <tr>
          <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px" valign="top">
           <div>
You can change or cancel your reservation via our online self-service tool My Booking.com:
</div>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td style="padding:15px;background-color:#00a0e4">
           <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
            <tbody><tr>
             <td style="text-align:left" valign="top" width="60%">
              <table border="0" cellpadding="0" cellspacing="0">
               <tbody><tr>
                <td style="text-align:left;font-size:14px;line-height:19px;font-family:arial;color:#333;color:#ffffff" valign="top"><b>Get our free apps for paperless check-in</b></td>
               </tr>
               <tr>
                <td style="text-align:left;font-family:arial;color:#333;font-size:12px;line-height:17px;color:#ffffff" valign="top">
Access this confirmation - even when you're offline!
</td>
               </tr>
              </tbody></table>
             </td>
             <td align="center" valign="middle" width="40%">
              <table border="0" cellpadding="0" cellspacing="0">
               <tbody><tr>
                <td style="text-align:left;padding-left:10px" valign="top"><a href="https://booking-ads.com/goapp?app=booking.iPhone;referrer=utm_source%3Dnn%253Abooking%26utm_medium%3Dos%253Aios_bs%253Aconfirmationemail_bu%253Ab" target="_blank"><img alt="Download on the Apple Store" border="0" height="40" src="https://ci3.googleusercontent.com/proxy/s-g-TT7zgwnC7FTvN_U2DLVJztbpeD1jXPCfAOxq8Mekqe8o1Xl-0M3f-kOfU2mls79WmenHrsnSZv2MEvK9QqsuEKBWind6m0LxvlgrQfLSNomIiDqT2s4Fi_80CmLMOxxEk33fQNQ8C-ixT813-__UKw=s0-d-e1-ft#http://r.bstatic.com/static/img/experiments/experiment_paperless_checkin_mobile_app_apple.png" width="135"></a></td>
                <td>&nbsp;</td>
                <td style="text-align:left" valign="top"><a href="https://play.google.com/store/apps/details?id=com.booking&amp;referrer=utm_source%3Dnn%253Abooking%26utm_medium%3Dos%253Aandroid_lang%253A_cc1%253A_bs%253Aconfirmationemail_bu%253Ab_bi%253A_dt%253A_ct%253A_ci%253A%26utm_campaign%3Dpubid%253A" target="_blank"><img alt="Get it on Google Play" border="0" height="40" src="https://ci4.googleusercontent.com/proxy/nqWCqJP6-3Rt_NSqgzvu5cgEd-NRK4Re0immFXww5NMB8lcgVHP9g1xBunhBJmKTlGkqtFIUKcFOyu0VDKaFdlB4p-pyNkkQrpxUywuVpQjCPA6gMYnTYMSQOg2doN5mhFSGwQ1ZbhgFDlEO14NOkLb7xW7DCmSBtgtKOHlh=s0-d-e1-ft#http://r.bstatic.com/static/img/experiments/experiment_paperless_checkin_mobile_app_google_nospacing.png" width="125"></a></td>
               </tr>
              </tbody></table>
             </td>
            </tr>
           </tbody></table>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
      <tr>
       <td style="text-align:left;color:#333;font-style:italic;font-family:Georgia,Serif;padding-top:5px;padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <div style="font-size:16px;line-height:21px">Have a great trip!</div>
        <div style="font-size:13px;line-height:18px">Booking.com Customer Service Team</div>
       </td>
      </tr>
      <tr>
       <td style="padding-top:20px;padding-bottom:20px;padding-left:10px;padding-right:10px" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px" width="100%">
         <tbody><tr>
          <td align="center" style="font-family:arial;font-size:11px;line-height:15px;color:#687485;padding-bottom:10px;padding-top:15px;border-top:1px solid #d3d3d3" valign="top">
           <div>
Copyright © 1996–2014 Booking.com.
All rights reserved.<br>
This email was sent by Booking.com, Herengracht 597, 1017 CE Amsterdam, Netherlands
</div>
          </td>
         </tr>
        </tbody></table>
       </td>
      </tr>
     </tbody></table>
    </td>
   </tr>
  </tbody></table><div class="yj6qo"></div><div class="adL">
 </div></div><div class="adL">
</div></div>

		</div>
	</div>
</div>