<div class="panel panel-default">
	<div class="panel-heading">
		<div> 
		<h3 style="text-align:left;">Jenny's Barcelona Flight Details
		<span style="float:right;"><%= link_to "Back", root_path%> </span></h3>
		</div>
	</div>
	<div class="panel-body">
		<div align="center">
			<div>
<div>
<img alt="Marriott Hotels &amp; Resorts" src="https://ci4.googleusercontent.com/proxy/1sA0hpSWrWE0bj4uwbWneZY0KlVYGcu5LJLXUAQRMEUztcj6dvLbk7HEXceOfI-rAno6XONH0YQaKzihqidvhq5NM9bi88iVh57wMpU4Vw0I=s0-d-e1-ft#http://www.marriott.com/propertyimages/p/pardt/pardtl01.gif">
<span>
<span>Paris Marriott Hotel <span class="il">Champs</span>-<span class="il">Elysees</span></span>
<span>
<span>70 Avenue des <span class="il">Champs</span>-<span class="il">Elysees</span>,</span>
<br>
<span>Paris,</span> <span>75008</span> <span>France</span> <span>
<span>Phone: 33-1-5393 5500</span>
<span>Fax: 33-1-5393 5501</span>
</span>
</span>
</span>
<br style="clear:both">
</div>
<table border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td rowspan="6" width="183px">
<img src="https://ci3.googleusercontent.com/proxy/OWuB3HVttxsEcjheIqwsqLTSnTnP64m8K6CQKR1T9UL0D-hnn1pTz-ARPqjIgSsOtgYoztAAmVMEhg9HxZbucQ11N587aVQ9Sjzx75h8oqjd=s0-d-e1-ft#http://www.marriott.com/propertyimages/p/pardt/pardte01.jpg" alt="">
</td>
<td colspan="2">
<img alt="http://www.marriott.com/Images/email/rewards/logos/Silver_28x142.gif" src="https://ci3.googleusercontent.com/proxy/2FoYudl6P9UX1ueqAMHbQCHlqTMlSGeoMNiA4DLa-CIDV5bpZb5AidVRC7udZ7mkV_lChAUFSzDx2N3p9RJLAQgk4_Sy062V68FMl2y1WXHrsVXJo3ZwMHJn=s0-d-e1-ft#http://www.marriott.com/Images/email/rewards/logos/Silver_28x142.gif">
</td>
</tr>
<tr>
<td colspan="2">Reservation for  MR <span class="il">James</span> Watson</td>
</tr>
<tr>
<td colspan="2"><img src="https://ci5.googleusercontent.com/proxy/IaGbxhvNPFPusbee4I97cQvzcJwQag1xPDEQPsEmPjYxatfiga4ebblsM1tmwx1nPuwUmzZ6QJwDBnwl6EBT=s0-d-e1-ft#http://www.marriott.com/images/spacer.gif" alt="" width="1" height="8"></td>
</tr>
<tr>
<td style="padding-left:28px" colspan="2">
<ul>
<li>
<b>Confirmation Number: 92172966 </b>
</li>
<li>
<b>Check-in: </b>Friday, June 27, 2014
                                (03:00 PM)
                            </li>
<li>
<b>Check-out: </b>Tuesday, July 1, 2014
                                (12:00 PM)
                            </li>
</ul>
</td>
</tr>
<tr>
<td colspan="2"><img src="https://ci5.googleusercontent.com/proxy/IaGbxhvNPFPusbee4I97cQvzcJwQag1xPDEQPsEmPjYxatfiga4ebblsM1tmwx1nPuwUmzZ6QJwDBnwl6EBT=s0-d-e1-ft#http://www.marriott.com/images/spacer.gif" alt="" width="1" height="35"></td>
</tr>
<tr>
<td style="padding-left:28px">
<table style="background:url('https://ci5.googleusercontent.com/proxy/8Asp8uYqyR2KaTB0bagXVvAlZS362esnkCJIjEXNw6DAdQkiseNwRN0rH3TlDUHqUeDJ9ZzhGiiiGu12QuD2d1bm8Gq3BMdMeVRmO3fUnOok2UVZ46Tn=s0-d-e1-ft#http://www.marriott.com/Images/email/rewards/logos/Button_BKG.jpg') top left" border="0" cellpadding="0" cellspacing="0" width="75%">
<tbody><tr>
<td width="3%" height="24">
<img src="https://ci5.googleusercontent.com/proxy/hFNOkvFC5WBYiKLWGNhrjK1QRO_nKRO6t7aBFJpL1_fcXphO9tGoFmbFkXRdPlmJ3MdxVVQjz40qvr9_3RQMirnrSQTYO1440j3DKXxLENqSXHf3BSUKdQ4=s0-d-e1-ft#http://www.marriott.com/Images/email/rewards/logos/Button_BKG_L.jpg">
</td>
<td align="center" valign="middle" width="93%">
<a style="text-decoration:none" href="https://www.marriott.com/reservation/lookupReservation.mi?SCID=20111021t020600000109&amp;vsretype=c&amp;vsresect=rd&amp;vsrelink=mxr&amp;vsrebrand=MC&amp;vsremarsha=PARDT&amp;confirmationNumber=92172966&amp;lastName=Watson" target="_blank">Modify or Cancel reservation</a>
</td>
<td width="2%">
<img src="https://ci5.googleusercontent.com/proxy/Q1_IS7LyYUWcM5lSae9mL9GaDOrr-GRUpS8ZXZ5K5CNp4mgEKqVpWQXzwuaMzg0_VVSlBheNuPxjV0p16smh3CuAnPD49wi5lp-eGmlKwG74RhCcFsZLWHo=s0-d-e1-ft#http://www.marriott.com/Images/email/rewards/logos/Button_BKG_R.jpg">
</td>
</tr>
</tbody></table>
<br>
<img alt="View" src="https://ci3.googleusercontent.com/proxy/nO578kafsxTVUB8YHSVvICAVktBoj_BPnBFgES8ZJQzvhxfRzpi-S5Q3O8vojTtw7KkU2j5hWJRFrCtdoZceM_BCXbdtaQJbtFyRIHpMzedyLiKEFhfnS5A=s0-d-e1-ft#http://www.marriott.com/Images/email/rewards/logos/WebLink_Icon.jpg">
<a href="http://www.marriott.com/hotels/travel/PARDT?vsretype=c&amp;vsresect=rd&amp;vsrelink=vhw&amp;vsrebrand=MC&amp;vsremarsha=PARDT" target="_blank">View hotel website</a>
<br>
<img alt="Maps" src="https://ci4.googleusercontent.com/proxy/Hyca8PQIRJqX6jF65NJ87lapQRUvSyMIXBj3nU7R48I2GysaCpUF4UT0B-H5bN-8FmKgWydh7q23Upa6y77KlX2PjWpOSfSWrnLUT7Vx1B5fDInTrg=s0-d-e1-ft#http://www.marriott.com/Images/email/rewards/logos/Map_Icon.jpg">
<a href="http://www.marriott.com/hotels/maps/travel/PARDT?vsretype=c&amp;vsresect=rd&amp;vsrelink=mtr&amp;vsrebrand=MC&amp;vsremarsha=PARDT" target="_blank">Maps &amp; Transportation</a>
</td>
</tr>
</tbody>
</table>
<div>
<p>Reservation Confirmation</p>
<b style="padding-bottom:0px;margin-bottom:0px">Dear MR <span class="il">James</span> Watson,</b>
<br><p>We are pleased to confirm your reservation with Marriott. Below is a summary of your booking and room information. We look forward to making your stay gratifying and memorable. When you're traveling away from home you can always count on Marriott.</p>


<p>Paris Marriott Hotel <span class="il">Champs</span>-<span class="il">Elysees</span></p>
</div>
<div>
<p>Planning Your Trip</p>
<ul>
<li>
<a href="http://www.marriott.com/city-guide/city-events.mi?cityId=8&amp;vsretype=c&amp;vsresect=pt&amp;vsrelink=wct&amp;vsrebrand=MC&amp;vsremarsha=PARDT&amp;confirmationNumber=&amp;lastName=" target="_blank">See what's happening in Paris during your stay</a>
</li>
<li>
<a href="http://www.marriott.com/city-guide/city-attractions.mi?cityId=8&amp;category=0&amp;topPicks=Y&amp;vsretype=c&amp;vsresect=pt&amp;vsrelink=wct&amp;vsrebrand=MC&amp;vsremarsha=PARDT&amp;confirmationNumber=&amp;lastName=" target="_blank">Check out some of Paris's top attractions</a>
</li>
</ul>
<ul>
<li><a href="http://trip.marriott.com/cars/availability?PickUpLocation=City,Paris,,FR&amp;DateTimeRange=2014-06-27T11:00,2014-07-01T11:00&amp;utm_source=email&amp;utm_medium=email&amp;utm_campaign=email&amp;utm_term=city&amp;urm_content=car&amp;VendorFilter=ZE&amp;CDP=7%7C154080&amp;SCID=20111019t120600000004" target="_blank">Book with Hertz: Save up to 35% and Earn 500 Rewards Points</a></li>

<li><a href="http://trip.marriott.com/activity/search?For=City,Paris,,FR&amp;DateRange=2014-06-27,2014-07-01&amp;utm_source=email&amp;utm_medium=email&amp;utm_campaign=email&amp;utm_term=city&amp;urm_content=activity&amp;SCID=20111019t120600000007" target="_blank">Book Cars, Tours &amp; More - get great rates on local tours and attractions</a></li>

</ul>
<br>
</div>
<div>
<p>Reservation Details</p>
<ul style="margin-bottom:10px">
<li>
<b>Confirmation Number: 92172966</b>
</li>
<li>
<b>Your hotel:</b> Paris Marriott Hotel <span class="il">Champs</span>-<span class="il">Elysees</span></li>
<li>
<b>Check-in: </b>Friday, June 27, 2014
                    (03:00 PM)
                </li>
<li>
<b>Check-out: </b>Tuesday, July 1, 2014
                    (12:00 PM)
                </li>
<li>
<a href="http://www.marriott.com/reservation/viewRoomPool.mi?marshaCode=PARDT&amp;roomPoolCode=GENR&amp;roomPoolDescription=Guest%20room,%201%20King%20or%201%20Queen&amp;requestor=email" target="_blank">Room type: </a> Guest room, 1 King or 1 Queen</li>

<li>
<b>Number of rooms:</b> 1</li>
<li>
<b>Guests per room:</b> 2</li>
<li>
<b>Guest name:</b> <span class="il">James</span> Watson</li>
<li>
<b>Reservation confirmed: </b> Thursday, January 23, 2014 (18:49:00 GMT)</li>
<li>
<b>Guarantee method:</b> Credit card guarantee, American Express</li>
</ul>
<div>
<b>Special request(s):</b>
<ul>
<li>
<span>•</span>1 King Bed, Sold Out/Not Guaranteed</li>
<li>
<span>•</span>High Floor Room, Request Noted</li>
</ul>
<br style="clear:left">
</div>
<table cellpadding="3" cellspacing="0">
<tbody>
<tr>
<th style="width:66%;border-right:1px solid #fff">Summary of Room Charges</th>
<th>Cost per night per room (EUR)</th>
</tr>
<tr>
<td style="border-bottom:1px dashed #333">Friday, June 27, 2014
        -
        Tuesday, July 1, 2014
        (
        4 nights 
        )
    </td>
<td>&nbsp; </td>
</tr>
<tr>
<td style="border-bottom:1px solid #333">Marriott Rewards Redemption </td>
<td style="border-bottom:1px solid #333">&nbsp;</td>
</tr>
<tr>
<td>Estimated government taxes and fees</td>
<td>3.00&nbsp;</td>
</tr>
<tr>
<td>
<b>Total for stay (for all rooms)</b>
</td>
<td>
<b>12.00</b>
</td>
</tr>
<tr>
<td colspan="2">
<ul>
<li>On-site parking, fee: 35 EUR daily</li>
</ul>
</td>
</tr>
</tbody>
</table>
<div>
<div style="margin:5px 0px"><p><a href="https://marriott.com/reservation/lookupReservation.mi?SCID=20111021t020600000109&amp;vsretype=c&amp;vsresect=rd&amp;vsrelink=mxr&amp;vsrebrand=MC&amp;vsremarsha=PARDT&amp;confirmationNumber=92172966&amp;lastName=Watson" target="_blank">You may modify or cancel your reservation online</a>&nbsp;(see details below), or call <a href="tel:1-800-228-9290" value="+18002289290" target="_blank">1-800-228-9290</a> in the US and Canada. Elsewhere, call our&nbsp;<a href="https://www.marriott.com/reservation/worldwide-hotel-reservation-numbers.mi" target="_blank">worldwide telephone numbers</a>.</p>


<p><a href="https://marriott.com/suggest/suggest.mi" target="_blank">Contact us</a> if you have questions about your reservation.</p> </div>
<b>Canceling Your Reservation</b>
<br>
<ul style="border-bottom:1px dotted">
<li>You may cancel your reservation for no charge until Wednesday, June 25, 2014 (2 day[s] before arrival).</li>
<li>Please note that we will assess a fee if you must cancel after this deadline.</li>
</ul>
<b>Modifying Your Reservation</b>
<ul>
<li>Please note that a change in the length or dates of your reservation may result in a rate change.</li>
</ul>
<div style="margin-bottom:15px"><p><b>Order Your Certificates</b></p>

<p>If you have not already ordered your Rewards redemption e-certificates, be sure to order them at least 48 hours prior to check-in. Please order online or contact your local Rewards office to order your certificates.</p>
</div>
</div>
</div>
<div>
<p>Rewards Account Information</p>
<img alt="http://www.marriott.com/Images/email/rewards/logos/Silver_28x142.gif" src="https://ci3.googleusercontent.com/proxy/2FoYudl6P9UX1ueqAMHbQCHlqTMlSGeoMNiA4DLa-CIDV5bpZb5AidVRC7udZ7mkV_lChAUFSzDx2N3p9RJLAQgk4_Sy062V68FMl2y1WXHrsVXJo3ZwMHJn=s0-d-e1-ft#http://www.marriott.com/Images/email/rewards/logos/Silver_28x142.gif">
<br>Your Rewards level: Silver<br>Your Rewards number: 223923020<p>As a Silver Elite member, you can enjoy the following benefits during your stay (may vary by hotel):</p><li>20% Bonus on your Marriott Rewards base points</li>
<li>Priority Late Checkout</li><li>Ultimate Reservation Guarantee</li><p><a href="https://www.marriott.com/rewards/myAccount/default.mi" target="_blank">Sign in to view account</a></p>
<ul>
<li>Sign up for <a href="https://marriott.com/rewards/myAccount/editEmailPreferences.mi" target="_blank">eFolio</a> to receive your hotel bill by email after each stay in the USA and Canada.</li>
<li>Plan events, earn rewards with <a href="https://www.marriott.com/meetings/rewards/travel.mi" target="_blank">Rewarding Events</a>.</li>
</ul>
<div style="padding-bottom:7px;width:100%">
<table border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr valign="top">
<td>
<img alt="50,000 Bonus Points" style="display:inline;float:left" src="https://ci5.googleusercontent.com/proxy/-XoLEV5OUIyKSDIvCU6YqH8MAWOKi55-a9pSYa_gDSvwfFgZTi-mI-FJKn9z7e2ncV-ioMZvr6eCqMrULf7lyQasYk9rqlIJsRZ2It99jLR2sZhU5lQRGGDC--zAx6vbZnavM7Y=s0-d-e1-ft#http://www.marriott.com/Images/email/rewards/visa/visa_us_premier_signature.jpg" align="left">
</td>
<td>
<div style="padding-left:10px">
<b style="font-family:Verdana;font-size:11px;color:#3260a5;display:block;margin-bottom:5px">50,000 Bonus Points</b><p>Earn 50,000 Bonus Points and an Annual Free Night with No Annual Fee the First Year. More Rewards, Faster with the Marriott Rewards Premier Credit Card.</p>
<p><a href="https://creditcards.chase.com/a1/marriottpremier/50p1ksh/?CELL=6ZQ3&amp;SCID=20111021t020600000100" target="_blank">Learn More and Apply</a></p></div>
</td>
</tr>
</tbody>
</table>
<br style="clear:both">
</div>
</div>
<div>
<p>Travel Alerts</p>
<ul>
<li>All rates include VAT but exclude city tax.</li>
<li><a href="https://www.marriott.com/marriott/mobile-apps.mi?SCID=20110727t034501000001" target="_blank">Download the Marriott Mobile App</a>. The Perfect Travel Companion<sup><small>TM</small></sup></li>
<li>Please Note: All Marriott hotels in the USA and Canada, are committed to a smoke-free policy.<a href="https://www.marriott.com/marriott.mi?page=smokefree" target="_blank"> <br>Learn more</a></li>
<li>The Responsible Tourist and Traveler<br><a href="http://www.unwto.org/ethics/responsible/en/responsible.php?subop=7&amp;SCID=20111021t020600000106" target="_blank">A practical guide to help you make your trip an enriching experience</a></li>

</ul>
</div>
<div><b>Look No Further</b><br> You've received the best possible rate - <a href="https://www.marriott.com/hotel-prices/travel.mi" target="_blank">guaranteed</a>.</div>
<div><p><b>Privacy, Authenticity and Opting Out</b></p>

<p>Your privacy is important to us. <a href="https://www.marriott.com/privacy.mi" target="_blank">Please visit our Privacy Statement for full details.</a></p>

<p>This email confirmation is an auto-generated message. Replies to automated messages are not monitored. Our Internet Customer Care team is available to assist you 24 hours per day, 7 days per week. <a href="https://www.marriott.com/suggest/suggest.mi" target="_blank">Contact Internet Customer Care.</a></p>
<p><b>Promotional email unsubscribe</b></p>

<p>If you provided us with your email address for the first time, we will send you a follow-up email to welcome you. We will also send you periodic emails with information about your account balance, member status, special offers and promotions. An opt-out link will be included in each of these emails so that you can change your mind at any time.<br>

If you would prefer to opt out of such emails from Marriott International, Marriott Rewards or The Ritz-Carlton Rewards, <a href="https://www.marriott.com/profile/email/unsubscribeChallenge.mi" target="_blank">you may do so here</a>. In addition, you may unsubscribe from The Ritz-Carlton email community <a href="https://www.marriott.com/ritz/profile/email/unsubscribe.mi" target="_blank">here</a></p>


<p>Please note: Should you unsubscribe from promotional email, we will continue to send messages for transactions such as reservation confirmation, point redemption, etc.</p><p><b>Confirmation Authenticity</b></p>

<p>We're sending you this confirmation notice electronically for your convenience. Marriott keeps an official record of all electronic reservations. We honor our official record only and will disregard any alterations to this confirmation that may have been made after we sent it to you.</p>


<p>If you have received this email in error, <a href="https://www.marriott.com/suggest/suggest.mi" target="_blank">please let us know</a>.</p></div>
<div><a href="https://marriott.com/copyrite.mi" target="_blank">Terms of Use</a>::<a href="https://marriott.com/privacy.mi" target="_blank">Internet Privacy Statement</a><p>©1996-2013 Marriott International, Inc. All rights reserved. Marriott proprietary information.</p><div class="yj6qo"></div><div class="adL">
</div></div><div class="adL">
</div></div>

		</div>
	</div>
</div>